[2015-09-28 14:14] manalisha opened #3 "Unable to load "ace-sparql" modules because of a generic script error."
When we try to run the project using npm start[Already downloaded all node modules as well as bower components].

In require.config.js file:

 'ace-sparql': 'bower_components/ace-builds/src-noconflict/mode-sparql' --This is included.But this file doesnot exists in the bower module. And when we try to comment out the lines where this is being used..some other errors come from gridster.

SO we are c

[2015-09-29 07:11] szydan commented on #3
In development mode you start the project by grunt

[code]

[2015-09-29 07:30] manalisha commented on #3
Thanks. It is working now..Some how that file was missing ..Now it is present.

[2015-09-29 07:30] #3 closed, assigned to nobody

[2015-10-02 14:26] coreation opened #4 "Question - Cherry picking visualisations"
Hi!

I'm really impressed with what Kibana can come up with and how Kibi extends it, my question is about taking the visualisations a step further.

Currently, Kibana and Kibi provide a user interface to manage queries and make visualisations out of it, great! But what if I were only to present the visualisations to others, in order to integrate it with a website or web app. So, the people viewing

[2015-10-02 14:30] coreation commented on #4
Ok apparently, as with any question, I should have googled it. Kibana has a feature to share a visualization. Is this feature also available in Kibi?

[2015-10-02 14:30] fabiocorneti commented on #4
Hi @coreation, in both Kibana and Kibi it is possible to share a dashboard by embedding it; to display the embedding code, just click on the share button:

![image](https://cloud.githubusercontent.com/assets/32792/10248921/d63de5ca-6922-11e5-96cb-69d73a1cd0ba.png)

[2015-10-02 14:31] coreation commented on #4
Awesome stuff, feeling really lazy for not having googled it before posting, sorry :).
Definitely going to get started with this!

[2015-10-02 14:31] #4 closed, assigned to nobody

[2015-10-02 14:33] fabiocorneti commented on #4
There are security implications as viewing a shared dashboard requires access to Kibana, so you should ensure that the Elasticsearch index is read-only to anonymous users.

[2015-10-02 14:35] coreation commented on #4
Thanks for the heads-up!

[2015-10-06 07:38] asinha123 opened #5 "Visualize: Bad Gateway"
I cloned the source code and try to run it using grunt dev command. Kibi started successfully but an error is flashed at the top
Visualize: Bad Gateway
checking into more info gives this

SQLITE_CANTOPEN: unable to open database file

Error: Bad Gateway
    at respond (http://localhost:5602/bower_components/elasticsearch/elasticsearch.angular.js:38715:15)
    at checkRespForFailure (http://localho

[2015-10-06 07:50] fabiocorneti commented on #5
Hi @asinha123,
if you don't need database access you can simply comment the following lines in `kibi.yml`:

[code]

Otherwise, you can use the dataset included in the demo distributions; to do that:
- download the full or lite distribution from http://siren.solutions/kibi/download/ and uncompress
- start Elasticsearch by running `elasticsearch/bin/elasticsearch` inside the uncompressed demo distri

[2015-10-06 07:56] asinha123 commented on #5
Hi fabiocorneti...it works for me.

Thanks mate

[2015-10-06 08:05] #5 closed, assigned to nobody

[2015-10-06 09:40] asinha123 opened #6 "how to use spark as my external datasaource?"
Hi, I am able to connect mysql database as an external datasource. But is there a way to use spark as my external datasource?

[2015-10-06 09:57] fabiocorneti commented on #6
It should be possible to query Spark SQL module by configuring a JDBC datasource; a commented JDBC datasource is defined in the `kibi.yml` file around line 93.

[2015-10-07 11:42] asinha123 commented on #6
Hi,
I have tried but it is not working with the following configuration

mysql-jdbc-datasource:
    type: jdbc
    #libpath: "/ABSOLUTE/PATH/TO/mysql-connector-java-5.1.35-bin.jar"
    libpath: "/home/bedrock/vis/calliope-jdbc-assembly-1.1.0-CTP-U2.jar"
    drivername: "org.apache.hive.jdbc.HiveDriver"
   # url: "jdbc:mysql://HOST/DATABASENAME"
    url: "jdbc:hive2://MY-IP-PORT/xademo"
    libs: [

[2015-10-07 15:38] fabiocorneti commented on #6
Looks like a caching bug, we'll try to reproduce it internally; in the meantime, you could try do disable caching by setting `datasource_enable_cache` to `false` in `kibi.yml` instead of commenting the lines, should have the same effect.

[2015-10-23 13:26] acs opened #7 "Tabbed dashboards to be proposed in Kibana?"
Hi guys!

First of all, congratulations for your great work extending Kibana to create KIbi.

The tabbed dashboards navigation is pretty cool. Do you plan to propose it as a PR to Kibana project?

Sorry if this is not the right place for this kind of discussion.

Cheers

[2015-10-23 15:55] fabiocorneti commented on #7
Hi @acs, thanks for your kind words. After our 0.2 version will be out, we look forward to get the codebase in sync with Kibana 4.2/master, then try to migrate as much features as possible to plugins; after that, we should be able to propose PRs for changes that may be useful upstream.

[2015-10-23 16:45] acs commented on #7
Hi @fabiocorneti, really cool plans. We are now in Bitergia approaching [Kibana](http://blog.bitergia.com/2015/10/19/testing-kibana-openstack-code-contributions-dashboard/) and analyzing features we need like the tabbed dashboards, or [labeling metrics](https://github.com/elastic/kibana/issues/4065) and trying to find the best strategy.

We are following carefully the plugins architecture to use i

[2015-10-23 16:45] #7 closed, assigned to nobody

[2015-11-04 13:33] nmqhoan opened #8 "Run kibi with external nodejs server"
Hi, is that possible to run kibi with external nodejs server which is already installed? I reconfigured the kibi.sh script as follows:
# !/bin/sh

SCRIPT=$0

while [ -h "$SCRIPT" ] ; do
  ls=$(ls -ld "$SCRIPT")
  # Drop everything prior to ->
  link=$(expr "$ls" : '._-> (._)$')
  if expr "$link" : '/.*' > /dev/null; then
    SCRIPT="$link"
  else
    SCRIPT=$(dirname "$SCRIPT")/"$link"
  fi
done

[2015-11-04 15:46] fabiocorneti commented on #8
Hi, this is currently not supported, but I'm keeping the issue open to test the case; can you provide the following information:
- the version of the external node executable
- the full output of the script (or at least some of the exceptions you're seeing)

Thanks

[2015-11-05 10:24] nmqhoan commented on #8
Hi, Thanks for your reply. The current version of my external nodejs is v5.0.0. Here is the full output of the script:

[code]

What i was trying is to debug step by step to have a better understanding of kibi source code.
Thanks

[2015-11-06 00:21] fabiocorneti commented on #8
I see, we currently do not support Node versions different than ~0.10/~0.12 as our project is based on Kibana 4.1; it may be possible to run it using other node versions but you would have to compile the sqlite and jdbc native bindings and some dependencies may work incorrectly.

Can you connect to the debugger port by adding the `--debug` flag to the included node binary?

[2016-01-19 10:56] pavel-arapov opened #9 "Elasticsearch 2"
Hello,

Just want to know than you plan to upgrade the core to use Elasticsearch 2 (it might be merging Kibana 4.3 in Kibi, I suppose), currently I see next message

It is completely blocked me to test your solution :-(

Looking forward to see a new version,
Pavel

[2016-01-19 11:01] jccq commented on #9
Hi Pavel

believe me we're hard at work, join tests are passing, we're merging with
Kibana 4.4 actually ;-) ETA for a full release by Elasticon (maybe earlier
though..)

apologies for the delays, next versions will be quicker to follow for us
than the full 1.x to 2.x jump

On Tue, Jan 19, 2016 at 10:56 AM, Pavel Arapov notifications@github.com
wrote:

##

Giovanni Tummarello
CEO - SIREn Solutions

[2016-01-19 13:31] pavel-arapov commented on #9
Hi Giovanni,

thank you for your reply. I am really impressed by the demo and documentation, looking forward to test new version, I hope before Elasticon! :-)

[2016-01-20 17:16] jccq commented on #9
thanks :)

latest news from the team is that we'll likely have an alpha/beta next
week. lets see

On Tue, Jan 19, 2016 at 1:31 PM, Pavel Arapov notifications@github.com
wrote:

##

Giovanni Tummarello
CEO - SIREn Solutions

[2016-01-31 15:01] gytisgreitai commented on #9
Any chance of getting that beta? Thanks!

[2016-01-31 16:14] jccq commented on #9
Hi, yes the beta will be available starting tomorrow to beta testing
partners

In the (near) future we will have a way on the website to register,  for
now please write me giovanni@siren.solutions

In any case the full version will be out by next week the latest.
Gio

On Sun, Jan 31, 2016 at 3:01 PM, Gytis notifications@github.com wrote:

##

Giovanni Tummarello
CEO - SIREn Solutions

[2016-02-03 12:00] yehosef commented on #9
+1

[2016-02-03 17:54] mohameden opened #10 "[Linux x64] Sqlite dependency requires GLIBC 2.14"
Hello,
I'm trying to use kibi on my Linux x64 (Red Hat Enterprise Linux Server release 6.5 (Santiago)) and getting the below issue regarding Sqlite:

[code]

I'm running on GLIBC 12.2 :

[code]

How should I deal with this issue? Is it possible to use another version of node-sqlite?

Thanks a lot

[2016-02-03 18:01] szydan commented on #10
See the thread at and try to follow the instructions
https://groups.google.com/a/siren.solutions/forum/#!topic/kibi-users/281c2aINIrI

Shortly we will provide a compatible bindings, but I can not tell the ETA for this.

[2016-02-03 18:14] mohameden commented on #10
Thanks a lot. I'll follow the thread : )

[2016-02-09 07:35] vmendiratta opened #11 "Relational Filter - minus joins"
Firstly, great work you guys on siren join and kibi!

Is there a way for me to do minus/not joins on Kibi? The relational filter (using siren-join) constructs a left join elastic search query. Can the relational filter be configured to construct a minus join query?

Suppose, I've 2 indices - emails sent and users and I wish to find users who haven't been sent an email.

I was able to do this using

[2016-02-09 07:47] jccq commented on #11
Hi Vijay

yes there is support, just create a normal filter (E.g. with the
"relational button" ) and then click  the "-" button on the filter (as in
regular kibana) ..  it will change color, see below.  these are just the
articles from companies that are NOT in the west of US :)

[image: Inline image 1]

On Tue, Feb 9, 2016 at 7:35 AM, Vijay Mendiratta notifications@github.com
wrote:

##

Giovanni

[2016-02-09 08:46] vmendiratta commented on #11
Thanks Giovanni.

I can't see the image you've uploaded.

But for my use case, I'd like:
Companies which don't find a mention in any article

Can this be done using a regular kibana feature - inverting a filter?

[2016-02-09 09:35] jccq commented on #11
Sorry for the attachement, didnt work over email response

.. but yes just create the relational filter from articles to companies and
then invert it . Should work like a charm also at multiple nested (negated)
levels, let me know if you have issues.

Note also that for external queries (those made on REST or SQL) you can do
the same.. this is done in the aggregator configurator (typically in the

[2016-02-09 09:44] scampi commented on #11
@vmendiratta Could you prepare a small test data using the 2 indices from your example (users and emails) ? I will try to list the steps needed to achieve what you want.

[2016-02-09 10:01] vmendiratta commented on #11
[github-kibi-issue.txt](https://github.com/sirensolutions/kibi/files/122857/github-kibi-issue.txt)

Hi Stephane, please find some sample test data attached.

Thanks.

[2016-02-09 11:23] jccq commented on #11
did it not work from the UI as i described? :)

On Tue, Feb 9, 2016 at 10:01 AM, Vijay Mendiratta notifications@github.com
wrote:

##

Giovanni Tummarello
CEO - SIREn Solutions

[2016-02-09 11:50] vmendiratta commented on #11
Hi Giovanni

Something is breaking somewhere. I'm not able to put a finger on what yet.

In reality, my data is split across 3 indices - emails opened, emails sent and users.

Emails opened and emails sent have a common field - campaign name.
Emails sent and users have a common field - email.
Emails opened and users have a common field - email.

My task is to find out users that received a particu

[2016-02-09 12:02] jccq commented on #11
Hi Vijay, the filter should work technically, but please do write me at
giovanni@siren.solutions and we'll be able to support specifically if you
wish - that is our business model :)

looking forward to support

On Tue, Feb 9, 2016 at 11:51 AM, Vijay Mendiratta notifications@github.com
wrote:

##

Giovanni Tummarello
CEO - SIREn Solutions

[2016-02-10 05:16] vmendiratta commented on #11
Thanks for all the help Giovanni :) I appreciate!
Will spend some more time with this.

[2016-02-10 21:21] tslarkin61 opened #12 "Error on startup"
I get the following error when I start kibi after installing the software:

[code]

Any assistance would be appreciated.

[2016-02-10 22:38] scampi commented on #12
Are you trying the demo shipped with kibi, or is this on your data ?
Can you describe the steps you did to cause this error ?

Is `buildNum` a field of the index you want to query ?

[2016-02-11 10:50] scampi commented on #9
Please see https://github.com/sirensolutions/siren-join/releases/tag/2.1.2

[2016-02-11 10:50] #9 closed, assigned to nobody

[2016-02-11 12:10] scampi commented on #12
A shot in the dark: what is the output of the command below ?

[code]

[2016-02-11 12:48] tslarkin61 commented on #12
This error occurs when I execute the command ./bin/kibi to start the server
the very first time after downloading and configuring the elasticsearch URL.

The error actually occurs in the elasticsearch process. The kibi process
stops immediately.

Here is my current list of indices:

[ec2-user@ip-172-31-24-242 ~]$ curl 'localhost:9200/_cat/indices?v'
health status index               pri rep docs.c

[2016-02-11 12:58] tslarkin61 commented on #12
Here is the result:

[ec2-user@ip-172-31-24-242 ~]$ curl 'localhost:9200/.kibi/search' -d '

Does that tell you anything?

On Thu, Feb 11, 2016 at 7:10 AM, Stéphane Campinas <notifications@github.com

[2016-02-11 14:31] scampi commented on #12
Hmmm could you provide me the following:
- version of kibi
- version of elasticsearch
- `config/kibi.yml`

You forgot the `_` before `search`. You should have something similar to what is below:

[code]

Now in relation with the error reported, it might seem you have an incomplete index. Maybe the package is corrupt ?

[2016-02-11 15:25] tslarkin61 commented on #12
Kibi version is 0.2.0
ElasticSearch version is 2.2.0
Here is the query you requested:
[ec2-user@ip-172-31-24-242 ~]$ curl 'localhost:9200/.kibi/_search?pretty'
-d '
{ "query" : { "term" : { "_type" : "config" } } } ';
{
  "took" : 2,
  "timed_out" : false,
  "_shards" : {
    "total" : 5,
    "successful" : 5,
    "failed" : 0
  },
  "hits" : {
    "total" : 0,
    "max_score" : null,
    "hits" :

[2016-02-11 15:32] jccq commented on #12
Kibi 0.2 only supports ES 1.X
please use a ES 1.X (With the Siren Join plugin installed) or wait for Kibi
0.3, which will be out any day now (might want to sign up to the release
mailing list, on the website)  thanks for trying

I think the new Kibi based on Kibana 4.4 should give a more graceful clear
message if the ES backend is not the one expected - we'll check if that's
the case to avoid futu

[2016-02-11 15:39] #12 closed, assigned to nobody

[2016-02-11 15:42] scampi commented on #12
@tslarkin61 ES 1.7.x is fine

[2016-02-12 11:46] scampi opened #13 "prevent the creation of a relational filter when there is no dashboard"
See error reported in https://groups.google.com/a/siren.solutions/forum/#!topic/kibi-users/CCzrXZTGMWc

[2016-02-20 01:41] zorino opened #14 "sparql over http datasource"
Can't make a query work over a sparql http datasource.

Keeps getting "Parameter 'url' must be a string, not undefined" in the the json preview.

[2016-02-22 10:44] szydan commented on #10
Fixed in version 0.3.0

[2016-02-22 10:44] #10 closed, assigned to nobody

[2016-02-22 10:47] szydan commented on #8
In kibi version 0.3.0 it is possible to use a system node - but it is highly not recommended as kibi comes with sets of pre built native bindings for sqlite and jdbc - when you change the node version these packages will not work anymore.

[2016-02-22 10:47] #8 closed, assigned to nobody

[2016-02-22 12:31] szydan commented on #14
Thanks for reporting this
The fixed will be published in 0.3.1 release.

[2016-02-22 12:35] szydan commented on #6
In 0.3.0 the jdbc datasource was improved.
Could you try to verify that this is still happening.

Note: in 0.3.0 the parameters should be

[code]

libs - is now comma separated list of libs (paths either relative to libpath folder or absolute)

[2016-03-07 14:26] michimau commented on #14
is it fixed? :)

[2016-03-07 14:44] jccq commented on #14
well some sort of 0.3.1 is out - can you give it a try?

On Mon, Mar 7, 2016 at 2:26 PM, michimau notifications@github.com wrote:

##

Giovanni Tummarello
CEO - SIREn Solutions

[2016-03-07 15:13] michimau commented on #14
it does work against "semantic.eea.europa.eu/sparql"
well done!

[2016-03-07 15:27] jccq commented on #14
:)! thanks

On Mon, Mar 7, 2016 at 3:13 PM, michimau notifications@github.com wrote:

##

Giovanni Tummarello
CEO - SIREn Solutions

[2016-03-09 09:39] scampi opened #15 "add field operation in external datasource"
For example, get substring of a field `@doc[_source][substr(fieldname,0,4)]@`.

https://groups.google.com/a/siren.solutions/forum/#!topic/kibi-users/q4nj8m4yqQA

[2016-03-09 10:47] szydan commented on #15
Maybe this format would be better
@substring(doc[_source][fieldname],0,4)@

[2016-03-09 22:32] martienl commented on #15
For text fields, it seems to be necessary to use python for this.

So far I found a way to get the info:
- needs https://github.com/elastic/elasticsearch-lang-python
- in es-dir:
  bin/plugin install elasticsearch/elasticsearch-lang-python
- in elasticsearch.yml
  script.inline: true
  script.indexed: true

curl -XDELETE "http://localhost:9220/test"

curl -XPUT "http://localhost:9220/test/doc/1?re

[2016-03-10 23:49] NTBTI opened #16 "Marvel sense plugin not compatible with 0.3.1"
Grabbed the latest full demo (0.3.1) and installed. Installed the absolutely most crucial plugin Marvel/Sense and got this when restarting Kibi:

[error][status][plugin:marvel] Status changed from yellow to red - Marvel version 2.2.0 is not supported with Kibana 0.3.1

Tried removing plugin and re-installing and made no difference. Is there a specific version I can force? Earlier in the day I play

[2016-03-11 09:04] scampi commented on #16
Thanks for the report!

The version of kibana is hardcoded in the marvel plugin.
I managed to make marvel work by changing the plugin code.

Edit `installedPlugins/marvel/server/lib/ensure_versions.js` and update the field `2.2.0` in the `kbnVersionRanges` object to `^0.3.1`.

[2016-03-11 09:19] scampi commented on #16
in the next release of kibi, this should be fix ;o)

[2016-03-11 17:31] NTBTI commented on #16
Thanks that did do the trick. Now a new problem with Sense.....I'll post a new issue for that.

[2016-03-11 17:31] #16 closed, assigned to szydan

[2016-03-11 17:34] NTBTI opened #17 "Sense plugin causing kibi_core not to start"
I installed the full demo of 0.3.1 and the Sense plugin and restarted Kibi.

Now on restart the kibi_core will not start causing every page of Kibi to go the the Status page.

The startup error is
[info][status][plugin:kibi_core] Status changed from uninitialized to yellow - Initialising the query engine

But it never finished. If I remove the Sense plugin and restart the cache gets rebuilt and ev

[2016-03-13 17:53] scampi commented on #17
I am not able to reproduce this error. I downloaded the `Kibi Distribution` though, not the `Full Demo Distribution`.

[2016-03-13 18:08] scampi commented on #11
@vmendiratta please re-open if you have some issue.

[2016-03-13 18:08] #11 closed, assigned to nobody

[2016-03-13 18:09] #14 closed, assigned to szydan

[2016-03-13 18:10] scampi commented on #6
@asinha123 Please reopen if you encounter some issues again.

[2016-03-13 18:10] #6 closed, assigned to fabiocorneti

[2016-03-13 23:08] scampi commented on #15
Thanks for reporting on what you did @martienl this was useful for me.

I think for the moment, you have to create another field in your index that contains the substring you are interested in.
The scripted field would be very nice and quite powerful, but it is nowhere yet possible on two levels:
1. on the UI side, there is no way to manage a scripted field with lang python and with type different

[2016-03-14 09:01] martienl commented on #15
Thanks, Scampi!

[2016-03-14 22:07] scampi commented on #17
sense works with kibi 0.3.2

[2016-03-14 22:07] #17 closed, assigned to scampi

[2016-03-15 15:08] bertol83 opened #18 "timeline"
In kibi 0.3 isn't possible to create a new timeline. The config (options) panel is disabled.

[2016-03-15 22:40] scampi commented on #18
I was able to create a new timeline in kibi 0.3.
Can you describe the steps you did to reach that state ?

[2016-03-16 08:10] bertol83 commented on #18
Here the screenshot when i press on "Kibi Timeline" in visualize.
![image](https://cloud.githubusercontent.com/assets/13969336/13805654/c4b7d80e-eb56-11e5-9a7f-03697ad1da59.png)

[2016-03-16 08:14] bertol83 commented on #18
In my opinion the problem is that the system doesn't ask me which search source start from.
I press "timeline" and there isn't the second step, but i go directly on the third (last) one.

[2016-03-16 09:01] scampi commented on #18
In the timeline, you can set more than one saved searches. This is why it is not proposed as it is for the other visualizations.
What version of the timeline do you have ? Is there any error in the logs (e.g., web inspector) ?

[2016-03-16 09:09] bertol83 commented on #18
Version 0.3.0
Build   8511

the exception in the console is:

[code]

[2016-03-21 09:32] scampi commented on #18
I am not able to reproduce this error with kibi 0.3.2
Try with this newer version and tell me how this goes.

[2016-03-24 11:17] tommywsq opened #19 "How to achieve the drilldown function(Click handlers) as "Enhanced search results" plugin?"
Hi,

I would like to know how to achieve the drilldown function(Click handlers) like "Enhanced search results" plugin does?

[2016-03-24 11:35] scampi commented on #19
In kibi you can perform drilldown operations on the dashboards using the ["relations filter"](http://siren.solutions/kibi/docs/current/relational-filter.html) visualization. This visualization adds buttons that enables to make joins between indices.

Click handlers in the [Enhanced search results](http://siren.solutions/kibi/docs/current/enhanced-search-results.html) visualization allow to:
- foll

[2016-03-24 11:37] tommywsq commented on #19
thanks a lot

[2016-03-24 11:38] #19 closed, assigned to nobody

[2016-03-25 09:57] rubensr opened #20 "Export to CSV from table visualisation"
Hi are there any plans to include an "Export Raw/Formatted" feature to the table visualisation in Kibi? If not, is this something that you would consider including in Kibi if somebody submitted a pull request?

[2016-03-25 10:00] scampi commented on #20
Kibana is working on that https://github.com/elastic/kibana/issues/1992
But feel free to propose other features ;o)

[2016-03-25 10:00] #20 closed, assigned to nobody

[2016-03-25 10:35] rubensr commented on #20
Oh no I am not talking about the discovery tab (although that will be nice too) - I am talking specifically about the Kibi dashboard widget, the table visualization - currently it is an infinite scroll table, which is fine, but would be very very nice if the user could click on an "export to CSV" button to get the data as per the currently applied filters in the Kibi dashboard...

[2016-03-25 10:43] szydan commented on #20
@rubensr - so such features are on our list, unfortunately at this point we can not give any ETA.

[2016-03-25 10:45] scampi commented on #20
@rubensr I think the best is to wait for the feature I referenced landing in kibana. Then, a button could be added to the visualization you mentioned.

[2016-03-25 10:49] rubensr commented on #20
Ah yes after going through the whole list of messages I think I get it - if the Kibana team can implement this server-side, then you can simply use them in your widget. That makes sense. Thanks for the very quick replies, and thanks so much for Kibi - this is really what elasticsearch needed to be used as a true analytics tool.

[2016-03-25 14:53] antong314 opened #21 "Kibi index NOT found"
Kibi 0.3.2 full demo version windows 64, getting below error frequently.  Suspect related to timeout, though not sure where one would increase it.

Re-starting and navigating to the same page sometimes works.

java version "1.8.0_60"
Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Java HotSpot(TM) 64-Bit Server VM (build 25.60-b23, mixed mode)

[2016-04-06 07:01] Brasoveanul opened #22 "Questions"
Hello,

Congratulations for this very good Kibana fork. I have a few questions.
1. How could one change the logo that is displayed in the top left corner of the interface?
2. How could one eliminate some of the options that are displayed in the top menu bar, so that, for example, only the Discover menu is displayed?
3. Last, what is the procedure in order to install Kibana plugins in Kibi, for exa

[2016-04-06 08:19] scampi commented on #22
Thanks for the kind word!
1. not possible in kibi. But I think in Kibana 5 there is some work about that (to be checked, maybe this was just some comment). If I'm right, once we merge with kibana 5, we'll be able to as well.
2. in Kibana 5, they made these buttons as plugins, so you can easily remove one.
3. The procedure is the same as in kibana. For `Shield`, we are working on updating Kibi to s

[2016-04-06 08:21] scampi commented on #22
In the future, please use the [mailing list](https://groups.google.com/a/siren.solutions/forum/#!forum/kibi-users) for these kinds of questions. We reserve Github for issues/feature request/etc.

[2016-04-06 09:25] SolusNorth opened #23 "can not get the correct result on version 2.2.*"
I have two index, DNS and UDP.
DNS has a field named address, UDP has a field named dip.
I want to join the index DNS and UDP with these field.

_**The correct result should be****:**_ After joined, the unique count of DNS and UDP should be equal. And the content of  DNS's field address and UDP's field dip should be equal too.

when i was using ES2.1 and siren-join 2.1, i got the correct result
**

[2016-04-07 07:00] SolusNorth commented on #23
I modified the code version 2.1.2,make it can be installed to ES2.2..
So now I am using ES2.2. with siren-join2.1.2, Then I joined the DNS and UDP again, the result is correct now.
Maybe sometimes the new hash function LongBloomFilter.hash3_x64_128 will return the wrong result.

[2016-04-07 07:38] jccq commented on #23
Hi there

yes you have hit the issue right. Kibi 0.3.2 introduced the Hash
capabilities which are absolutely great on huge datasets when you want
analutics but for small results it should not be activated.

We'll switch this off bin the next point release, apologies.

Notice the Kibi enterprise edition will have the ability to finetune this
for those who need.

Best
Gio

On Thu, Apr 7, 2016 at 8:0

[2016-04-07 08:56] #22 closed, assigned to nobody

[2016-04-07 08:57] scampi commented on #18
Closing issue. Please reopen if you still have problems with this.

[2016-04-07 08:57] #18 closed, assigned to nobody

[2016-04-07 18:43] jccq commented on #22
Brasoveanul just to add to this if you want something quick you can certainly change the logo just replacing the files, everyone is doing it (you just dont have the nice option in the new). Other things can be haked also .. while we wait for the Kibana 5 based solution :) let us know in case, we can help

[2016-04-07 19:35] Brasoveanul commented on #22
Hello,

What is the file that could be replaced in order to change the logo? Do you have any other suggestions regarding the top menu customization?

[2016-04-07 19:39] jccq commented on #22
Please write to info @siren. Solutions I can respond from there about
specific support cheers
On 7 Apr 2016 8:35 p.m., "Brasoveanul" notifications@github.com wrote:

[2016-04-08 16:20] szydan commented on #21
Should be fixed by https://github.com/sirensolutions/kibi/pull/24

[2016-04-29 22:29] nrasch opened #26 "URIError: URI malformed errors when building from source"
All:

I'm working on building from source via these instructions:  https://github.com/sirensolutions/kibi/blob/master/CONTRIBUTING.md

When I execute "npm start" and attempt to browse to "http://localhost:5606/app/kibana" I receive a TON of these types of errors on the command line:

[code]

And so on and so forth.  I've opened a few of these ".less" files and modified the "@import (reference)" st

[2016-05-03 09:27] bertol83 opened #27 "export data from an "Enhanced search result""
It would be very important and useful to have the data export inside the widget "Enhanced search result": the behavior should be the same as in the other widget (export as raw or formatted).

[2016-05-03 14:48] jccq commented on #27
Once Kibana does this, Kibi will naturally inherit this at the next release! watch this issue.. https://github.com/elastic/kibana/issues/1992

[2016-05-03 14:48] #27 closed, assigned to nobody

[2016-05-04 19:27] scampi commented on #26
Probably this is the same error https://github.com/elastic/kibana/issues/6858
Please reopen if you still experience this error.

[2016-05-04 19:27] #26 closed, assigned to nobody

[2016-05-05 09:01] scampi commented on #21
@antongorshkov Please reopen if you still experience this issue.

[2016-05-05 09:01] #21 closed, assigned to nobody

[2016-05-06 09:41] ecamaj commented on #21
After I modify this line, I constantly get:
log [11:37:22.876] [warning][query_engine] Kibi index NOT found
log [11:37:24.387] [warning][query_engine] Kibi index NOT found
log [11:37:25.899] [warning][query_engine] Kibi index NOT found
log [11:37:27.411] [warning][query_engine] Kibi index NOT found
log [11:37:28.921] [warning][query_engine] Kibi index NOT found
log [11:37:30.432] [warning][query_e

[2016-05-09 06:50] marfago opened #28 "Sort option on fields in ehhanced search result not working"
Clicking on the arrow for the sort option on the column title in an enhanced result view dos not produce any effect.

[2016-05-09 09:30] scampi commented on #28
I cannot reproduce this:

![output](https://cloud.githubusercontent.com/assets/795879/15108990/f3c9fc0e-15d0-11e6-8b12-7f458d1919b8.gif)

What system do you have ? Did you take the full or lite distribution ?
Is there anything in the logs, or in the web inspector, that might help ?

[2016-05-09 13:42] marfago commented on #28
I'm with Kibi Version [0.3.2] - Powered by Kibana 4.4.1 for linux64 (ubuntu) and firefox 46.0.1.
I checked the firebug console but did not find any error or warning.
There are 2 tables in the same pages, one work, but the other does not.
Is there anything I can do to help you to discover the bug?
May it be depending on number of rows in tabe (2502282)?

[2016-05-09 14:01] scampi commented on #28
You have `2502282` rows showing in a table ? Could you show me the output of `curl 'http://localhost:9200/.kibi/config/_search'` ?

[2016-05-09 14:07] scampi commented on #28
Do you have the same problem with Chrome ?

What is the output of `curl 'http://localhost:9200/.kibi/config/_search'` ?

Given the name of the field you were sorting on (`title`), I thought you were using the demo. But it seems I was wrong. Can you tell me more about that field ?
- analyzed ?
- how many docs in your index ?

[2016-05-09 15:51] marfago commented on #28
It happens for all the fields in the table (dates, strings and numbers), in other words, no one is sortable (or sorted).
More, the working table is a common kibana's table, the other one not working is an enhanced table. The installation in a fresh one, using an index with 2.5M records. Debugging the code I can see that the sort function on the field is invoked correctly, then the "sorting" variab

[2016-05-09 20:36] scampi commented on #28
Can you try to reproduce this with some data and share it in this issue ? That'll help a lot

[2016-05-10 23:02] marfago opened #29 "Kibi dies unexpectedly if connection (or ES) goes down"
If ES is down or  unreacheable, kibi dies with:

/root/production/kibi/kibi-0.3.2-linux-x64/src/plugins/kibi_core/lib/query_engine.js:90
  self._isKibiIndexPresent().then(function () {
       ^
TypeError: undefined is not a function
    at [object Object].QueryEngine.loadTemplates [as _onTimeout](/root/production/kibi/kibi-0.3.2-linux-x64/src/plugins/kibi_core/lib/query_engine.js:90:8)
    at Time

[2016-05-11 09:37] scampi commented on #29
I cannot reproduce this with kibi 0.3.3 which should be release soon. Please retry again when that version is out.

[2016-05-12 09:14] xycloud opened #30 "error when use the demo provided by official"
[code]

[2016-05-12 09:28] scampi commented on #30
this is the normal kibana strategy for adding objects (saved searches, visualizations, ...) to the index.

[2016-05-12 09:28] #30 closed, assigned to nobody

[2016-05-20 08:00] bertol83 opened #31 "core during computing join"
![screenshot from 2016-05-20 09 44 08](https://cloud.githubusercontent.com/assets/13969336/15421058/99708f12-1e71-11e6-979d-de472a848f64.png)
To improve performance and it would be possible make computing joins multi core? If you look my screenshot there is just one core running, but joins in this case are 7.

[2016-05-20 08:06] rendel commented on #31
The join is already multi-threaded. However, this depends on the query, and the query plan. If the joins are organised in a sequence, then there is no possibility for the query optimizer to execute them in parallel.

[2016-05-20 08:20] rendel commented on #31
To be more precise, there could be some additional optimisation that the query optimizer could do to try to execute more joins in parallel, but this is not something that will be available immediately. Also we are working on a new distributed computing platform for joins that will leverage better the available computing nodes.
But, as I said, there is already some optimisation to compute joins in

[2016-05-20 10:09] bertol83 commented on #31
Here the logs when i refresh my dashboard Veicoli (means Cars) with many relations.
Is it enough or you need some other details?
[logs.txt](https://github.com/sirensolutions/kibi/files/274339/logs.txt)

[2016-05-20 10:27] szydan commented on #28
@marfago could you please try 4.4.1
https://github.com/sirensolutions/kibi/releases/tag/tag-4.4.1

[2016-05-20 10:32] szydan commented on #23
Please try the new community edition 4.4.1
https://github.com/sirensolutions/kibi/releases/tag/tag-4.4.1
In which bloom filter is NOT enabled by default

[2016-05-20 10:32] #23 closed, assigned to nobody

[2016-05-20 10:49] giorgio94c commented on #29
Fixed in 4.4.1

[2016-05-20 10:49] #29 closed, assigned to giorgio94c

[2016-05-20 12:02] rendel commented on #31
@bertol83 I am not able to see the entire query in the given log, the best would be the query generated by Kibi.
@szydan, is there an easy way for the user to get this query ?

[2016-05-20 12:13] scampi commented on #31
You can set the log level to DEBUG in kibi.yml

Stéphane Campinas
On 20 May 2016 13:02, "Renaud" notifications@github.com wrote:

[2016-05-20 12:31] rendel commented on #31
You have also in the query response form elasticsearch some statistics about each join, where you can see the execution time, size, etc, of each join. This might indicate you which one is taking time.
From the log you sent, I can see that one join is based on 10m terms, which takes a few seconds to compute. Also, it seems that this join is not cached (or it is evicted) as there is always a cache m

[2016-05-20 13:07] bertol83 commented on #31
@scampi in kibi.yml i can only set logging.verbose: true or i have to set something else?

@rendel this is the answer to the stats:
{"cluster_name":"aci-roma","nodes":{"Midnight Man":{"timestamp":1463749200534,"stats":{"size":0,"requestCount":24,"hitCount":0,"hitRate":0.0,"missCount":24,"missRate":1.0,"loadCount":0,"loadSuccessCount":0,"loadExceptionCount":0,"loadExceptionRate":0.0,"totalLoadTime"

[2016-05-20 13:26] szydan commented on #31
@scampi I think the debug logging does not work in kibi
I've seen a TODO comment in the code to enable it back
I think it was lost on some refactoring

[2016-05-22 16:45] ecamaj opened #32 "Relations not working correctly?"
Hi,

i noticed some strange behaviors (or I’m doing something wrong, of course) where relations are behaving very strangely.

Short explanation - when filtering accounts based on all transactions, I get listed some accounts that are not connected with transactions as a Payee (“platitelj_racun”).

Screencast link: https://www.dropbox.com/s/q9qjuc7d2qu97a5/Kibi%20screencast.mp4?dl=0

Explained:
- in

[2016-05-23 06:37] rendel commented on #31
@bertol83 the cache is empty for some reason (`size = 0`) and all the entries have been evicted (`evictionCount = 24`). Can you try increasing the time before an entry expires (`siren.filterjoin.cache.expire`) and see if the cache stats changes (immediately after executing the join query a few times) ?

[2016-05-23 10:58] OElesin opened #33 "Error with JDBC Connection"
I added the JDBC connections settings on Kibi from end. But was prompted to enable the `load_jdbc: true` setting in the kibi.yml file. I did this and I get the error below when I start kibi

[code]

Help with this

[2016-05-23 11:08] scampi commented on #32
Can you check the query of the filter added by the click on the button (click on the edit icon next to bin one) and see if there is a `termsEncoding` appearing there on the same level as `indices`. There should be two.
If not, please add the following `"termsEncoding": "long"` to both objects.

If that solves your problem, this is indeed a bug and we'll make a new release.

[2016-05-23 11:12] scampi commented on #33
Try setting `kibi_core.load_jdbc` to true. We'll update the notification message to be clearer.

[2016-05-23 11:33] OElesin commented on #33
Thanks. But this is the new error I got after adding `kibi_core.load_jdbc`

[code]

[2016-05-23 15:10] szydan commented on #33
Could you tell us more about your system. Which linux distribution you are running?
Could you try to install

[code]

and try again
If this does not help there are some additional hints here
http://askubuntu.com/questions/575505/glibcxx-3-4-20-not-found-how-to-fix-this-error

[2016-05-24 07:28] bertol83 commented on #31
Here my configuration in elasticsearch.yml
siren.filterjoin.cache.enabled: true
siren.filterjoin.cache.size: 4512000
siren.filterjoin.cache.expire: 3600

Here the stats after some requests:

[code]

Here kibi logs when i press F5:

[code]

Here the elasticsearch logs:

[code]

[2016-05-24 07:35] bertol83 commented on #31
The cache is ever empty, and the time to compute joins is always 70 seconds. Maybe this is the limit because joins are very big. Index Cars (10M documents) is in join with:
-payments (12M)
-Events (33M)
-Ownerships (15M)
-Change Ownerships (17M)
-Evasion (7M)

Maybe i could try to use a second node for elasticsearch, what do you think?

[2016-05-24 07:42] rendel commented on #31
Adding a second node would probably help in distributing the load. Is the server using ssd or spinning disks ?
The cache being empty does not look normal. The best would be to work on it together offline. I'll contact you privately.

[2016-05-24 08:31] bertol83 opened #34 "Support dark mode graph"
Using dark theme, the graph is half white and half black.

![screenshot from 2016-05-24 10 29 31](https://cloud.githubusercontent.com/assets/13969336/15497324/7ca2d45e-219a-11e6-88d4-b9cf8a2da2ad.png)

[2016-05-24 08:38] scampi commented on #28
@marfago please reopen if this happens again

[2016-05-24 08:38] #28 closed, assigned to nobody

[2016-05-24 08:41] scampi commented on #13
doesn't happen with the release 4.4.1

[2016-05-24 08:41] #13 closed, assigned to scampi

[2016-05-24 08:45] jccq commented on #34
yes still functional right? you mean just an aestetic issue? well open a
"Support dark mode graph" ticket

On Tue, May 24, 2016 at 9:31 AM, bertol83 notifications@github.com wrote:

##

Giovanni Tummarello
CEO - SIREn Solutions

[2016-05-25 10:16] bertol83 opened #35 "arrows to scroll tabs (dashboards)"
Sometime when you have a lot of dashboards, the arrows (buttons) to scroll SX and DX tabs are hidden.
![screenshot from 2016-05-25 12 13 20](https://cloud.githubusercontent.com/assets/13969336/15536599/4dd93572-2272-11e6-9ca4-dc34f181cf5f.png)

[2016-05-25 10:36] scampi commented on #35
Thanks, we are aware and plans to improve that are in the roadmap!

[2016-05-25 10:45] ecamaj commented on #32
Still not working unfortunately.
More details in the document attached.

[Kibi relational filter not working.docx](https://github.com/sirensolutions/kibi/files/281565/Kibi.relational.filter.not.working.docx)

Thanks,
Eddie

[2016-05-25 11:10] scampi commented on #32
Thanks @ecamaj for the doc.
- what is the mapping for the fields `transactions.iban_primatelja` and `account_owner.iban` ?
- regarding the confusing message `... related to (1) from ....`, I am currently fixing that.
- regarding the error `Kibi Relational filter: "SearchPhaseExecutionException[all shards failed]; nested: QueryParsingException[[fielddata_terms] field 'iban' does not exist in index

[2016-05-25 11:41] scampi commented on #32
There is a new release https://github.com/sirensolutions/kibi/releases/tag/tag-4.4.1-1 with some fixes.
Could you try that one ?

[2016-05-26 10:52] rendel commented on #31
After investigation, we discovered that the performance issue was coming from the cache size setting. The siren join is setting an incorrect default cache size of 256kb (instead of 256mb). An [issue](https://github.com/sirensolutions/siren-join/issues/60) has been opened to resolve this in the next siren-join release.
Adding the following line in the elasticsearch.yml

[code]

solved the issue.

[2016-05-26 10:52] #31 closed, assigned to nobody

[2016-05-27 07:19] ecamaj commented on #32
Still not good.
Document attached.
[kibi-problems2.docx](https://github.com/sirensolutions/kibi/files/285915/kibi-problems2.docx)

[2016-05-27 07:23] ecamaj commented on #32
And answers to your question...

**what is the mapping for the fields transactions.iban_primatelja and account_owner.iban ?**

transactions.iban_primatelja: {
        "index": "not_analyzed",
        "type": "string"
      }

accounts_owner.iban: {
        "type": "string"
      }

[2016-05-27 08:47] scampi commented on #32
You should have the same mapping on the fields you are joining on.
Since iban is analyzed, you have "hr6423400091987654321" joining with "HR6423400091987654321" (notice the lowercase).

[2016-05-27 09:34] ecamaj commented on #32
Huh... this is strange. Where can I see this lowered case version? Since in Kibana/Kibi, JSON format of data for a document in Accounts says:

 "iban": "HR6423400091987654321"

tnx

[2016-05-27 09:39] scampi commented on #32
Can you try these two commands and show me their output ?

[code]

[code]

[2016-05-27 10:37] ecamaj commented on #32
Yes, you are right, with the same mapping, it is working.
Is there way to mitigate such problems? Seems to me that Kibi should be aware of this possibility and map fields regardless of "not_analyzed" property. (Any other?)

Thank you for your support.

[2016-05-27 10:42] scampi commented on #32
No problem @ecamaj .
There is no way to mitigate this problem, joined fields must have identical mapping definitions. We'll try to add a check in kibi to notify the user about this, so that he may correct the field definition.

[2016-05-27 10:42] #32 closed, assigned to scampi

[2016-05-27 10:47] ecamaj opened #36 "Feature request - export Relations objects"
In Settings->Objects there is no "Relations" tab which would enable us to export/import relations. This would be quite helpful having in mind that there can be many relations between indexes and that removing and creating instances of ELK stack is quite usual process in development.

[2016-05-27 10:54] scampi commented on #36
This is in our roadmap. At the moment, it is available through the advanced settings, in the `kibi:relations` option.

[2016-05-27 10:58] ecamaj commented on #36
Cool, thanks

[2016-05-30 01:35] dwong61 opened #37 "Relational Panel Configuration"
Hello,
The Relational Panel configuration seems to be intuitive but I can't seem to configure the left/right panel relationship. I've configured the index pattern relations and the labels appear in the label selection in the Relational Panel configuration widget, but the dash board selection remains empty (I have two dashboards defined for the related indices).

Sorry about the doc. I'll try it ag

[2016-05-30 02:16] sarufarr opened #38 "The dashboard search bar did not work."
Here is condition: I have set up the kibi default dashboard("dashboard-One") in the kibi.yml.

If I type in the URL: 192.168.0.1:5601 ("locahost:port") into the browser address bar, the kibi jumped to "dashboard-One" as I expected.

But the dashboard search bar did not work whatever I type in at this time.

And the search bar would work properly after I chose the DISCOVER page and went back to DAS

[2016-05-30 08:18] scampi commented on #37
your doc didn't get uploaded. you have to wait a bit before sending the post

[2016-05-30 08:19] scampi commented on #37
make sure the fields you are joining on have the same mapping #32

[2016-05-30 08:21] scampi commented on #38
Is this with the latest kibi ? What OS do you have ?

[2016-05-30 08:29] sarufarr commented on #38
No. The version of kibi I am using is 0.3.2.
OS: CentOS 6.7
broswer: chrome latest

[2016-05-30 09:14] scampi commented on #38
it does not seems to happen with the latest version of kibi (4.4.1-1). Please try again with that.

[2016-05-30 19:53] dwong61 commented on #37
Sorry about the doc. I'll try again.
The fields are the same type: string, not_analyzed.

[Kibi_issue.zip](https://github.com/sirensolutions/kibi/files/290027/Kibi_issue.zip)

[2016-05-31 05:33] xycloud commented on #30
but I cannot even run your demo project

[2016-05-31 06:56] scampi commented on #30
What errors do you have ? The one you pasted is normal.

[2016-05-31 08:26] scampi commented on #37
You need to save your dashboard with a saved search. Then, you will be able to see the dashboards that were associated with a saved search in the relations settings page. To do so, just click on the save button of a dashboard, and then select a saved search in the dropdown menu.

Also, I see that you are using an old version. You can have a taste of the latest things (+ bug fixes) with Kibi 4.4.1-

[2016-05-31 11:50] bertol83 opened #39 "count on relational buttons"
### Versions

Kibi: 0.3.3 biuld n. 8971

Operating System: ubuntu 14.04
### Behavior

The count on relational buttons seems not work as expected.
#### Expected:
#### Actual:
### Steps to reproduce the problem
1. Start from a dashboard without filters.
2. The buttons have just (*)
3. Select a filter
4. The count is updated
5. Remove filter and the count is updated (with all documents from other ind

[2016-05-31 12:49] bertol83 opened #40 "timeline after selection"
### Versions

Kibi: Kibi: 0.3.3 biuld n. 8971

Operating System: ubuntu 14.04 64 bit
### Behavior

The timeline doesn't show events and states after an aggregation filter
#### Expected:

The timeline should show the events also after a filter
#### Actual:
### Steps to reproduce the problem
1. Dashboard without filter show timeline with first 10 (configured) events for each index.
2. Select some do

[2016-05-31 16:08] dwong61 commented on #37
Hello Scampi,

Thanks for the reply. The dashboards were saved and I can seen the dashboards when I look at available objects in the settings menu. Also, using Head, I can see the dashboard documents in the .kibi index. I did try using the latest Kibi version (4.4.1-1), where the Relational Panel configuration menu is in separate configuration panel tab, same behavior. It just seems like the app i

[2016-05-31 16:26] scampi commented on #37
Is this Head https://github.com/mobz/elasticsearch-head ?

SIREn Join is used for performing joins between indices. It is needed in kibi only if you want to do joins, e.g., the relational filters.

I think I was not clear in my reply. In the Dashboard panel, open a dashboard and then save it. You will see something like below:
![2016-05-31-172259_1893x290_scrot](https://cloud.githubusercontent.com

[2016-05-31 16:50] dwong61 commented on #37
Thank you. I will try this.

[2016-05-31 18:01] dwong61 commented on #37
Hello Scampi,

That was what I was doing with both dashboards so I'm not sure how to proceed. I will clean everything up and try again.

[2016-05-31 20:56] scampi commented on #37
Can you share the output of the following command:

[code]

[2016-05-31 21:38] dwong61 commented on #37
Here it is:

[dashboard.txt](https://github.com/sirensolutions/kibi/files/292242/dashboard.txt)

[2016-05-31 21:52] scampi commented on #37
Neither `Observables` nor `Indicators` have a field named `savedSearchId`. This field should be added when you save a dashboard as described in my comment with the image.
Did you get any errors in the logs (or web inspector) when you did so ?

[2016-05-31 21:54] dwong61 commented on #37
I don't belief I got any errors. I'll double check. Do you mean the Kibi or ElasticSearch logs?

[2016-05-31 21:59] dwong61 commented on #37
I just modified the Indicators dashboard and saved. Has Kibi log verbose enabled and also watching the browser. No warnings or errors indicated

[2016-05-31 22:18] dwong61 commented on #37
Okay. The problem is that I have not defined a query associated with the dashboard. Are there any example or docs you can point me to for a dashboard associated query?

[2016-05-31 22:26] scampi commented on #37
http://siren.solutions/kibi/docs/current/dashboard.html
you need to set a saved search first

[2016-05-31 22:40] dwong61 commented on #37
Thank you Scampi !! I just did that.

[2016-05-31 22:40] #37 closed, assigned to nobody

[2016-06-01 05:47] xycloud commented on #30
log   [13:46:37.029] [warning][query_engine] Kibi index NOT found
/Downloads/kibi-0.3.2-demo-full-darwin-x64/kibi/src/plugins/kibi_core/lib/query_engine.js:90
  self._isKibiIndexPresent().then(function () {
       ^
TypeError: undefined is not a function
    at [object Object].QueryEngine.loadTemplates [as _onTimeout](/Users/Mocker/Downloads/kibi-0.3.2-demo-full-darwin-x64/kibi/src/plugins/kibi_co

[2016-06-01 07:20] scampi commented on #30
this should be fixed in the latest release https://github.com/sirensolutions/kibi/releases/tag/tag-4.4.1-1

[2016-06-01 14:18] scampi commented on #40
opened in timeline repo https://github.com/sirensolutions/kibi_timeline_vis/issues/23

[2016-06-01 14:18] #40 closed, assigned to nobody

[2016-06-01 14:19] scampi commented on #33
please reopen if you still have this error

[2016-06-01 14:19] #33 closed, assigned to nobody

[2016-06-06 15:47] nreese opened #41 "duplicate relational filters in filter bar"
### Versions

Kibi: 4.4.1

Operating System:

osx 10.10.3
### Behavior

Duplicate relational filters displayed in filter bar
#### Expected:

When using the Relational Filter visualization to browse to another dashboard, kibi should recognize duplicate relational filters and keep only one.
#### Actual:

Duplicate Relational filters apear in filters bar.
### Steps to reproduce the problem

With kibi

[2016-06-06 23:34] jccq commented on #41
The meaning of a "Relational button" is "add a filter in the other dashboard to filter only to those connected to the current ones" ..

it is not a "navigational button" (The tabs are for navigations).

It is useful that the buttons create different filters, for example you might look for articles that mention "foo" and check all the companies. Then you might go back and look for articles mentioni

[2016-06-08 08:42] scampi opened #42 "Missing sql_jdbc datasource type"
### Versions

Kibi: 4.4.1-1

Operating System:
### Behavior

Unable to retrieve query variables for `sql_jdbc` datasource type.
See `src/ui/public/kibi/directives/kibi_select_helper.js:241`.

[2016-06-08 09:50] scampi commented on #39
@bertol83 do you have any stack trace in kibi logs/web inspector ?
It seems that the join failed for some reason, but i'd need more information about your setup to reproduce this.

[2016-06-08 11:58] scampi commented on #39
cannot reproduce on the latest version 4.4.1-2

[2016-06-08 11:58] #39 closed, assigned to nobody

[2016-06-09 16:51] nreese commented on #41
I did not fully understand how the relational filters worked. I assumed
that the relational filter linked the two indices together and any future
filter applied to one index would affect the other.  I did not realize that
the relational filter only applies the currently active filters and ignores
any future filters. I can see why one would want multiple filters with the
current behavior.

I think

[2016-06-09 18:48] jccq commented on #41
Great :) thanks. We definitely have to do something abou thtis e.g. creating a Kibi user academy video series etc. The power , in the end, is really big. . Do let us know! also have you considered http://siren.solutions/kibi/enterprise ? the graph is a pretty interesting addition as it interacts directly with the dashboards. best

[2016-06-09 18:48] #41 closed, assigned to nobody

[2016-06-16 07:05] SolusNorth opened #44 "Relational filter run out of an exception when i was using it on cluster"
### Versions

Kibi: 0.3.2

siren-join: 2.1.2 or a higer version but not use bloom filter

Operating System:  CentOS6.7
### Behavior

the siren-join plugin can not find data-node in cluster
#### Expected:

![catch 06-16-14-21-21](https://cloud.githubusercontent.com/assets/8553667/16107843/8faad8fa-33d1-11e6-83ff-b5bec528d71d.jpg)
#### Actual:

the cluster is working well, its status is green. but w

[2016-06-16 09:19] scampi commented on #44
Can you try to reproduce this with the new version 4.4.2 ? Thanks

[2016-06-17 09:55] gioialorusso opened #45 "Compatibility with ES 1.7.2"
### Versions

Kibi: 4.4.2
Operating System: OSX el capitan 10.11.3
ES: 1.7.2
### Behavior

My version of elasticsearch is incompatible with this version of Kibi. I'd like to know what version of Kibi can I install that is compatible with ES 1.7.2
#### Actual:

Status changed from red to red - This version of Kibana requires Elasticsearch ^2.2.0 on all nodes. I found the following incompatible node

[2016-06-17 10:01] scampi commented on #45
https://github.com/sirensolutions/kibi#compatibility-table-kibi--elasticsearch kibi 0.2.0 then

[2016-06-17 10:01] #45 closed, assigned to nobody

[2016-06-20 13:35] tombimbom opened #46 "Find identical field values from different indexes"
Is it possible to find identical field values from different indexes and list the corresponding files? Let's say I have two syslogs and I need to find the IP addresses that occur in both logs. Is that possible to do with kibi?

Thanks a lot.

[2016-06-20 14:04] scampi commented on #46
If the IP is a field of your indices, you could join the two on that field. See http://siren.solutions/kibi/docs/current/relational_filter.html

[2016-06-20 14:05] scampi commented on #46
In the future please reserve github for issues/new features/ etc.
For this kind of question, please use https://groups.google.com/a/siren.solutions/forum/#!forum/kibi-users.

[2016-06-21 06:03] tombimbom commented on #46
Dear Stéphane, thank you and sorry for posting in the wrong place.

[2016-06-21 06:05] #46 closed, assigned to nobody

[2016-06-21 08:06] scampi commented on #46
No problem. If you still have some issues, please open a thread in the mailing list to follow on that.

[2016-06-21 17:07] mike-marcacci opened #47 "TypeError: Cannot read property 'byName' of undefined"
### Versions

Kibi: 4.4.2 and master

Operating System: OSX 10.11.5
### Behavior:

More often than not (but still not _always_) the "Discover" tab errors out with `TypeError: Cannot read property 'byName' of undefined`. Kibana 4.4.2 has no such issue when using the exact same ES cluster.
#### Expected:

![screen shot 2016-06-21 at 10 02 54](https://cloud.githubusercontent.com/assets/690517/1623901

[2016-06-22 09:09] scampi commented on #47
It seems that `fields` in the `indexPattern` object is not defined. https://github.com/sirensolutions/kibi/blob/75d8098/src/ui/public/doc_table/lib/get_sort.js#L16

Logs: Is there anything in the ES logs or kibi logs ?
Somehow the fields for that index pattern could not be retrieved.

Is the kibi 4.4.2 instance built from scratch, or did you migrate a previous one ?

[2016-06-22 09:14] scampi commented on #47
Can you reliably perform several times the following request on your ES cluster ?

[code]

[2016-06-23 15:12] vinuja opened #48 "kibi-icons missing in npm"
### Versions

Kibi_timeline_vis-4.4.2

Kibi:

Operating System:
### Behavior

Unable to manually install Kibi_timeline_vis .
#### Expected:

 Kibi_timeline_vis needs kibi-icons.In npm this library is missing.

Can you add it please

[2016-06-23 15:51] scampi commented on #48
Try again to download https://github.com/sirensolutions/kibi_timeline_vis/releases/download/4.4.2/kibi_timeline_vis-4.4.2.zip
The tarball was not correctly done.

[2016-06-29 21:04] eluanb opened #49 "Error when activating load jdbc : libjvm.so"
Kibi Version: 4.4.2
Operating System: Linux CentOS 7
Error report in kibi configuration
kibi_core:
  load_jdbc: true

path: kibi/config/kibi.yml

Log:

[code]

Error: libjvm.so: cannot open shared object file: No such file or directory
kibi/bin/java_home_lib_server -> /opt/jdk/jdk1.8.0_91/jre/lib/amd64/server
rwxrwxrwx 1 10 143 16925812 Abr  1 05:06 libjvm.so

As you can see the file exists in the

[2016-06-30 08:06] scampi commented on #49
Is JAVA_HOME or LD_LIBRARY_PATH set to anything ?

[2016-06-30 12:03] eluanb commented on #49
Yes, they are informed. But I believe they are correct:

I'm telling something wrong?

[2016-06-30 12:22] eluanb commented on #49
Excuse me.
I found the problem.
Due to internal security of the server variables were unset for tty/pts.
Insert variables in bash profile, and are now correct.
Server booted normally.

Thank you.

[2016-06-30 12:22] #49 closed, assigned to nobody

[2016-06-30 12:29] scampi commented on #49
Great thanks for explaining what was the issue @eluanb

[2016-07-01 08:00] vinuja commented on #48
Thanks
It works now

[2016-07-01 08:03] #48 closed, assigned to nobody

[2016-07-17 07:04] yehosef opened #50 "Add sql support as timelion plugin"
Timelion is now pluggable according to https://github.com/elastic/timelion/issues/150
It would be great if the work you've done on SQL queries could be able to use the math functions of timelion.

[2016-07-17 16:48] jccq commented on #50
Hi Yehosef, not sure what pluggable mean (to which degree etc.. and why
timelion and not the whole kibana)

we accept requests for sponsored development at this time so if you can
make it into a project and want to propose at info@siren.solutions we'd be
happy to consider... and be happy to push a PR to Kibana too !

On Sun, Jul 17, 2016 at 9:04 AM, yehosef notifications@github.com wrote:

##

Gio

[2016-07-25 08:18] kamisialke opened #51 "pipline aggregation"
Does Kibi support pipline aggregation  or not ?

[2016-07-25 08:45] scampi commented on #51
On that aspect, we are at the moment on the same level as kibana.

[2016-07-25 08:54] kamisialke commented on #51
Is that possible that i can folk kibi code to achieve pipline aggregation?

[2016-07-25 09:44] scampi commented on #51
sure, I don't see why not ;o)

[2016-07-25 09:44] #51 closed, assigned to nobody

[2016-07-27 17:59] AlgorithmsAreCool opened #52 "Kibi hangs on start on Windows x64 with JDBC enabled"
### Versions

Kibi: 4.4.2.1

Operating System:
Windows 7/Server 2008 R2 x64 or greater
## Problem

After setting `kibi_core.load_jdbc: true` kibi does not start.

CPU spins and command line reads:

[code]
## How I fixed it
1. Ensure JAVA_HOME is set to your program files java folder
2. Add an empty file named `javac.exe` to `%JAVA_HOME%\bin`
## Comments

Hello all, I had this issue trying to start

[2016-07-28 08:53] scampi commented on #52
Thanks @AlgorithmsAreCool for taking the time to describe the problem and your fix!

I don't have a windows machine, can you tell me what is inside `%JAVA_HOME%\bin\` ? Maybe we can propose a fix upstream.

[2016-07-28 14:44] AlgorithmsAreCool commented on #52
I have opened an upstream issue in hopes of a simple fix in time. The contents on the `%JAVA_HOME%\bin\` are listed on that issue.

[2016-07-28 14:45] AlgorithmsAreCool commented on #52
Also, i need to fiddle with Kibi some more to figure out exactly how to work with relational data, but it appears that everything works OK with MSSQL via Microsoft's JDBC driver. :+1:

[2016-07-28 16:11] scampi commented on #52
Thanks @AlgorithmsAreCool

[2016-08-16 12:24] szydan commented on #42
fixed in 4.4.2 release

[2016-08-16 12:24] #42 closed, assigned to scampi

[2016-08-16 12:25] szydan commented on #36
fixed in 4.4.2-2

[2016-08-16 12:27] szydan commented on #38
reopen if it happens again

[2016-08-16 12:27] #38 closed, assigned to nobody

[2016-08-16 14:16] #36 closed, assigned to nobody

[2016-08-23 06:51] knzwats opened #53 "Numbers are interpreted as text in Datasource form if I modify those settings"
Hello!
I tried kibi and found it very nice, but I found a weird behavior and a workaround.
### Versions

Kibi: 4.4.2-1

Operating System: Linux version 4.4.11-23.53.amzn1.x86_64 (mockbuild@gobi-build-60009) (gcc version 4.8.3 20140911 (Red Hat 4.8.3-9) (GCC) ) #1 SMP Wed Jun 1 22:22:50 UTC 2016
### Behavior

When I create or edit MySQL datasource and set timeout/max_age to other than default numbe

[2016-08-23 10:06] scampi commented on #53
thanks for reporting this issue! We'll fix that in the next 4.5.3 release that is coming any time now.

[2016-08-24 15:04] scampi commented on #53
Fixed in 4.5.3 https://github.com/sirensolutions/kibi/releases/tag/tag-4.5.3

[2016-08-24 15:04] #53 closed, assigned to scampi

[2016-08-24 15:06] scampi commented on #47
Please reopen the issue if you still have problems and provide some logs.

[2016-08-24 15:06] #47 closed, assigned to nobody

[2016-08-24 15:07] scampi commented on #44
Please reopen if you still have this problem with https://github.com/sirensolutions/kibi/releases/tag/tag-4.5.3

[2016-08-24 15:07] #44 closed, assigned to nobody

[2016-08-29 08:52] yaacovki opened #54 "tilemap isn't zooming more than 8 levels"
### Versions

Kibi: 4.4.2-1

Operating System:
Linux
### Behavior

When using WMS complaint map (like defined in fix bug on the 13 of july)
the map is zooming till some level, and then the Plus + button is going gray and i can't zoom anymore

The behavior is like i have 7-8 level of zoom only...
#### Expected:

In other environment (Windows 64 bit) with kibi 4.4.2 the zoom is working fine
#### Act

[2016-08-29 09:01] scampi commented on #54
Can you try with the latest release 4.5.3 to see if this is still happening ?

[2016-08-29 18:51] #34 closed, assigned to nobody

[2016-08-30 08:01] sarufarr opened #55 "Issue about Dashboard search bar cookie."
### Versions

Kibi: 4.4.2-1

Operating System:
Server: CentOS 6.7
Client: Win10 Pro 1511
Browser：Chrome 52.0.2743.116 m
### Behavior

Use search bar and select cookie in the Dashboard.
#### Expected:

Use selected cookie as filter and refresh this Dashboard.
#### Actual:

Whole kibi page reloaded, and after reload action the whole page's dark theme did not work properly.
### Steps to reproduce the

[2016-08-30 08:20] scampi commented on #55
Can you try to reproduce this with the latest release 4.5.3 ?

[2016-08-30 08:29] bartverweire opened #56 "Query on Oracle database fails"
### Versions

Kibi: 4.5.3

Operating System: Windows 7
### Behavior

When I create a simple query :
select x from dual

I get an error in the interface
TypeError: Cannot read property 'message' of null
    at formatMsg (http://localhost:5606/bundles/commons.bundle.js?v=12068:64395:77)
    at Notifier.error (http://localhost:5606/bundles/commons.bundle.js?v=12068:64217:17)
    at wrapper (http://lo

[2016-08-30 12:09] sarufarr commented on #55
It does happen with the latest release 4.5.3 .

[2016-08-30 13:35] szydan commented on #55
@nvrdawn Thank you for verifying this

[2016-08-30 16:16] scampi commented on #55
I think you are experiencing something similar to https://github.com/elastic/kibana/issues/7801
I remember I had such a problem once, i.e., selecting the suggestion provoked a page reload. This is fixed in kibana 4.5.4, which will be our next release.

[2016-08-30 16:18] scampi opened #57 "layout issue"
If I click the option button of the visualization window in Dashboard.
(Just the "Pen" beside the delete button "Close" on the left-top of the visualization window.)
The whole Dashboard page will change into white first and jumped into Visualize page.
And then if I click the Dashboard button to jump back to Dashboard page, I notice the visualization window shape changed. It seems that your dashboa

[2016-08-30 16:19] scampi commented on #57
Can you make a gif of the issue ? @nvrdawn

[2016-08-31 07:56] sarufarr commented on #55
Thx

[2016-08-31 08:02] sarufarr commented on #57
![dashboardviserror](https://cloud.githubusercontent.com/assets/14183804/18120729/8db2cdca-6f93-11e6-9db4-ffdf79f59e0d.gif)
Here it is. White dashboard before page jumps into visualization did not appear this time. But layout did have something wrong.

[2016-08-31 08:27] sarufarr commented on #55
![searchbar](https://cloud.githubusercontent.com/assets/14183804/18121571/c6cc33f4-6f97-11e6-8cfb-5d8c22545e3e.gif)
Reproduce GIF

[2016-08-31 08:43] yaacovki commented on #54
upgraded to 4.5.3 still happens - Tilemap not going over level 7-8 zoomin

[2016-08-31 10:01] yaacovki commented on #54
hi,
Once i've applied the WMS complaint map it works
how can i change the default maps to be Terrestris.de?

[2016-08-31 10:03] scampi commented on #54
Maybe the answer you are looking for is at https://www.elastic.co/guide/en/kibana/current/tilemap.html under `WMS compliant map server`.

[2016-09-07 15:24] scampi commented on #56
This is fixed with the latest release https://github.com/sirensolutions/kibi/releases/tag/tag-4.5.3-1

[2016-09-07 15:24] #56 closed, assigned to nobody

[2016-09-07 15:25] scampi commented on #54
@yaacovki please reopen if you still have a problem.

[2016-09-07 15:25] #54 closed, assigned to nobody

[2016-09-13 22:23] scampi commented on #20
@rubensr Although it only allows to export the current set of document displayed, the 4.5.3-3 release https://github.com/sirensolutions/kibi/releases/tag/tag-4.5.3-3 contains a csv export for the `enhanced search results` visualization.

[2016-09-22 10:52] davidandorf opened #58 "Cant delete previous relations"
### Versions

Kibi: I cant delete relations ships they seem to be stuck which is also not aloowing me to add any other relations, Any possible way to refresh kibi?

Operating System:
### Behavior
#### Expected:
#### Actual:
### Steps to reproduce the problem

[2016-09-22 11:27] jccq commented on #58
Hi in the advanced settings tab you can find all the relations and a job
blob . Just delete there

However wr have never seen this would you be kind and try to reproduce step
by step?  Alternatively before deleting the json blob can u send it over
for us to debug the strange state you're in?

Also are you sure you are using the latest version?

On 22 Sep 2016 11:52 a.m., "Hammad Ahmed" notificatio

[2016-09-22 11:28] scampi commented on #58
what version of kibi are you using ? can you share a gif of the problem, that could help understanding the issue ?
Also, did you install a fresh kibi, or did you a previous version already ?

[2016-09-28 13:29] stefanobortoli opened #59 "Inconsistent numbers from scratch and when filters are applied"
### Versions

Kibi: 4.5.3-4

Operating System:

Server Ubuntu 14.04-LTS, Browser Chrome 53.0.2785.116 m on Win 7 Pro
### Behavior

Relational widget presents different numbers when applying sequential filters. In particular, the same object appears to have relations when filtered with a query on the top search box, and the same object did not have any relation when filtered using one of its proper

[2016-09-28 13:42] rendel commented on #59
Hi Stefano, could you send the configuration of your relations ? In particular the terms encoding parameter for each of your relation. Thanks.

[2016-09-28 13:45] bertol83 commented on #59
This Kibi should be the Community Edition, so I think the terms encoding is fix to long.

[2016-09-28 13:47] stefanobortoli commented on #59
It is the Enterprise version.

[2016-09-28 13:50] bertol83 commented on #59
Ok, so go on Settings --> Relations and press on the grey pen for your relation
![image](https://cloud.githubusercontent.com/assets/13969336/18916030/e2d385e4-858a-11e6-9176-ae2285458434.png)

and copy here your config

[2016-09-28 13:57] stefanobortoli commented on #59
attached all the screenshots I thought could be helpful

![veicoli-index-conf](https://cloud.githubusercontent.com/assets/6428160/18916269/3377d424-8594-11e6-944d-92d33e1af88f.png)
![conf-relations](https://cloud.githubusercontent.com/assets/6428160/18916268/336304f4-8594-11e6-8ddb-7540633ae26d.png)
![formalita-index-conf](https://cloud.githubusercontent.com/assets/6428160/18916266/335cf4a6-8594-1

[2016-09-28 14:01] rendel commented on #59
And if you click on the button (when it is count is equal to 1) to go to formalita, what is the result ? Is there one formalita document on the dashboard, or 0 ?

[2016-09-28 14:03] stefanobortoli commented on #59
The filter says: "related to 2 from Veicoli", but the dashboard is empty.

[2016-09-28 14:09] stefanobortoli commented on #59
![formalita-vuota](https://cloud.githubusercontent.com/assets/6428160/18916777/ddb2ed7e-8595-11e6-8ea3-56b8f9c39b07.png)

[2016-09-28 15:35] scampi commented on #59
what is the configuration of those buttons ?

[2016-09-28 15:38] scampi commented on #59
In the next release, the relational filter visualization will have a spy panel, but for now the only way to get the queries behind it is through the dev inspector.
Can you check what is the query sent ? It is one which name contains `button` so the easy way to get it is to type `button` in the request filter (if you use chrome).

[2016-09-28 15:48] stefanobortoli commented on #59
ok, about the the previous questions: when there is 1 on the button of the relational widget (filter by plate number) and I click on it, I have a dashboard formalita with 1 object with the relation of 1 vehicle. When I click on the button with count 0 (filter by vehicle id number), then I have the empty dashboard with the message of 2 vehicle.

[2016-09-28 15:49] stefanobortoli commented on #59
if you need, we could share the whole bundle privately.

[2016-09-28 15:58] scampi commented on #59
if possible that'd be nice

[2016-09-28 16:22] stefanobortoli commented on #59
how can I send the bundle? it is around 250MB

[2016-09-28 16:38] bertol83 commented on #59
You should receive an email. I have shared a folder with you on google drive

[2016-09-28 17:04] stefanobortoli commented on #59
I was doing the same, already uploading. I will either share that or upload
here tomorrow morning.

Thanks a lot for the support!

Il 28 set 2016 6:38 PM, "Nicola" notifications@github.com ha scritto:

[2016-09-28 23:21] jccq commented on #59
guys this should be a ticket in the Customer Portal for the EE :)?

[2016-09-29 07:26] stefanobortoli commented on #59
We can move it there. No problem. I have just shared the bundle with Nicola.

[2016-09-29 16:24] scampi commented on #58
Please reopen the issue if it still happens.

[2016-09-29 16:24] #58 closed, assigned to nobody

[2016-09-29 16:25] scampi commented on #50
@yehosef please comment more giving more details of what you'd want. Closing for now.

[2016-09-29 16:25] #50 closed, assigned to nobody

[2016-09-29 17:40] jd8935 opened #60 "Query on Oracle database fails"
### Versions

Kibi:
kibi-4.5.3-3-windows64-demo-full

Operating System:
Windows 7
### Behavior

Create a simple query  in "Edit Queries over External Datasource"
select x from dual

Then press Save. Kibi immediately exits without any error messages.
Browser screen reports "Courier Fetch Error: unhandled courier request error: unknown error"
#### Expected:

Query should return 1 column, containing

[2016-09-29 18:05] jd8935 commented on #60
Update: I was able to get some log info from Kibi.  The following is output by kibi.bat between executing "select x from dual" and when kibi.bat exits.  No explanation for why Kibi exits.

qtest2 is the Oracle query.

{"type":"log","@timestamp":"2016-09-29T18:01:03+00:00","tags":["debug","kibi_proxy","translated elasticsearch query"],"pid":11784,"message":"\n-------------------------\n{\"docs\":[{

[2016-09-30 08:16] stefanobortoli commented on #59
We restarted kibi, and for some obscure reasons the problems were solved. We keep it monitored to understand whether the problem appears again. Thanks a lot for the quick response and valid support received.

[2016-09-30 08:16] #59 closed, assigned to nobody

[2016-09-30 08:19] rendel commented on #59
Hi @stefanobortoli, before seeing this issue, were you sending updates to the indices (e.g., adding or removing some documents) while Kibi was running ? (I am just wondering is this was not a caching issue somewhere).

[2016-09-30 08:21] stefanobortoli commented on #59
I think so. Kibi was on while indexing the snipped of data used for the analysis.

[2016-09-30 08:32] rendel commented on #59
If this happens again, could you try to run the command to clear the siren join cache:

[code]

And then reload the kibi dashboard and see if the count changes as expected.
If this is the case, please report this to us. Thanks.

[2016-09-30 08:34] stefanobortoli commented on #59
I will certainly do. I guess the restart does the clear, right?

[2016-09-30 08:37] rendel commented on #59
Restarting elasticsearch yes. But if you restarted only Kibi, then this means this is something on Kibi side, not siren join side. Did you restart Kibi or elasticsearch ?

[2016-09-30 08:38] stefanobortoli commented on #59
We restarted everything, so we cannot help on this. However, we'll try to keep trace of these operations so that if we have troubles we can report.

[2016-09-30 09:08] scampi commented on #60
This was tested in another issue https://github.com/sirensolutions/kibi/issues/56 but I see you have the latest release. We'll have a look at what goes wrong. We are in the middle of putting integration tests so hopefully this kind of error will be prevented in the future.

Regarding your other observations, this is a good idea.

[2016-10-17 12:42] txisme opened #61 "Query template error"
### Versions

Kibi: 4.5.3

Operating System: CentOS
### Behavior

I want to create a templated query.
#### Expected:

To Create a templated query
#### Actual:

It shows the error: "Query deactivated. Check activation query or change entity URI"

![image](https://cloud.githubusercontent.com/assets/10253258/19438006/b3f5e624-946f-11e6-9baa-f929b53ae3a7.png)
### Steps to reproduce the problem

Just f

[2016-10-17 13:09] scampi commented on #61
This was for Kibi v0.2 , maybe there is something that changed since then. I'll try to see what could be the cause.

[2016-10-17 13:17] txisme commented on #61
Ok, thank you

[2016-10-25 07:29] danbeck opened #63 "Application does not start on OSX - nodejs Exception"
### Versions

Kibi: 4.3.5-6-darwin-x64 (CE)

Operating System:
OSX El Capitan, Version 10.11.6
### Behavior

Download and extract the zip file. Start bin/kibi. The application does not start. The following is printed on standard out:

[code]

[2016-10-25 09:16] szydan commented on #63
Hi
Could you please specify exactly which zip you've downloaded (link)
And all commands you've done to start kibi

I've tried both the empty kibi and the full demo for darwin on OSX (El Capitan 10.11.6) and they seems to work fine

My steps are:
For a standalone empty zip

1) Make sure elasticsearch is running at http://localhost:9200
2) Download the zip
3) Unzip
4) cd kibi-4.5.3-6-darwin-x64
5) .

[2016-10-25 10:41] danbeck commented on #63
I downloaded the following version: https://support.siren.solutions/support/solutions/articles/17000032306-kibi-4-5-3-6-community-edition. Full link: https://download.support.siren.solutions/kibi/community?file=kibi-4.5.3-6-darwin-x64-demo-full.zip

[code]

Starting elasticsearch works. Starting kibi throws the same exception.

[2016-10-25 11:41] scampi commented on #63
Can you try to remove the `kibi/optimize/bundles` folder before running `kibi/bin/kibi` ?

[2016-10-25 12:15] danbeck commented on #63
Unfortunately, I had a bad config file in the home directory (files ~/.babel.json  ~/.babelrc)

I deleted them and kibi starts now. Thanks.

[2016-10-25 12:16] scampi commented on #63
good to know!

[2016-10-25 12:16] #63 closed, assigned to nobody

[2016-11-10 21:30] atifelkhachine commented on #61
![image](https://cloud.githubusercontent.com/assets/23389146/20195021/22bdc418-a795-11e6-9a4d-669b802f2694.png)

`span !{results.hits.hits[0].fields.time}
br
span !{results.hits.hits[0].fields.conditions}`

This should work. results object is not an array ;-)

Atif EL KHACHINE

[2016-11-16 11:36] hwkongsgaard opened #65 "Bug: apply already in progress"
### Versions

Kibi: 4.5.4 (build: 12601), standalone

Operating System:
Ubuntu

### Behavior
Hi, when I save a new datasource (REST) or edit it I get this error when I hit save

[$rootScope:inprog] $apply already in progress http://errors.angularjs.org/1.4.8/$rootScope/inprog?p0=%24apply (http://10.1.62.2:5606/bundles/commons.bundle.js?v=12601:43878)

The object i saved if I go back, but the previ

[2016-12-22 15:15] hcountou commented on #56
Hello,

I'm having a lot of fun with Kibi and ES. I appreciate the new release of your official docker images, so i try it on.
And guess what ? Still amazing !

But a new user came to me and asked if we could try to build some dashboards with Kibi on some data located in an oracle DB. I said yes but maybe too fast...

As i follow your advices for _bartverweire_ on getting Kibi able to recognize th

[2016-12-23 03:15] jccq commented on #56
@hcountou beside the specific issues (i leave @scampi to comment) pls consider you need to ETL the data from oracle into an Elasticsearch table in the current version of Kibi for Kibi to use it with the full join/widgets capabilities.

Direct datasources are (currently) used just for "filters" e.g. see our distribution demo where we have a list of articles and a SQL query that selects the "top 50

[2016-12-23 11:39] hcountou commented on #56
Hello,

Alright, i understand that if you want to do some relational queries you need to have your data in ES (using Logstash or any other index generator).

But the point is that i want also to enrich our data on the endpoint.

Example, if you have a Kibi relational dashboards set, i want to set a companion table linked the dashboard connected to an external datasource.

By using :
"Special varia

[2016-12-23 11:46] jccq commented on #56
Possibly :)

An example of usage (That would work):

Lets say that you have a list of customers in ES

but you dont have the transactions in ES, they are instead on a REST
service or on a ORACLE database

then yes you could configure the datasource so that when you click on a
customer it will display the last 10 transactions of that customer in the
Kibi template viewer component.

Alternatively le

[2016-12-23 12:13] hcountou commented on #56
That's encouraging ! Then all i have to do is to set my external datasouces links.

One for a Postgres DB is fine (i get a very nice table)
One for SPARQL over http is ok
One for a REST API service is fine because the API provides json...but the other REST API service, we had to change it in order to receive json messages.

(Actually Kibi only works with json for external sources as mentionned her

[2016-12-23 15:05] scampi commented on #56
Do you have anything in the logs ?

[2016-12-23 15:06] scampi commented on #56
At the moment, the only to check if everything is correct is to run a simple query from the UI (in the `settings / queries` tab)

[2016-12-23 16:05] hcountou commented on #56
None of my tests made it so far.

# To summarize

- the path you give in the [dockerhub](https://hub.docker.com/r/sirensolutions/kibi-community-standalone/) doesn't seems to be the right. I had to modify the file "/opt/kibi/kibi/config/kibi.yml" instead of "/opt/kibi/config/kibi.yml" for the modifications to be taken in consideration.

- then i've put my ojdbc jar into a "/opt/drivers" folder (tha

[2016-12-23 16:14] hcountou commented on #56
And my kibi version is 4.5.4 in order to be compatible with siren join ( sirensolutions/kibi-community-demo-full:4.5.4)
So i pick up the docker from this adress :
https://support.siren.solutions/support/solutions/articles/17000034081-kibi-4-5-4-community-edition

[2016-12-23 16:20] hcountou commented on #56
And the jdbc jar that i tried to load is : ojdbc6.jar that i retrieve from the oracle official site.

Thanks for your advices

[2016-12-23 17:00] hcountou commented on #56
Ok i made some progress...

# Changing the Logs writing
I did not find any log other than the container log, so i changed the kibi.yml file for the logs :
"# If you would like to send the log output to a file you can set the path below.
logging.dest: /opt/kibi/logs/kibi_logs"

# Identifying the Error
After restarting the container (./bin/kibi stop/start does not work), i had access to my logs.
And

[2016-12-23 17:53] hcountou commented on #56
# $LD_LIBRARY_PATH
Ok i tried to set $LD_LIBRARY_PATH for both the root and the kibi user by defining it into them ".bashrc" files

$JAVA_HOME = /usr/lib/jvm/java-8-openjdk-amd64/jre/
$LD_LIBRARY_PATH  = /usr/lib/jvm/java-8-openjdk-amd64/jre/lib/amd64/server

# Finding the so called missing "libjvm.so"
"find / -type f -name libjvm.so
/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/amd64/server/libjvm.so

[2016-12-23 18:00] hcountou commented on #56
NB : if disable the "kibi_core.load_jdbc: true" option, the server is up & running

[2017-01-02 16:24] olidem57 opened #66 "Relations in the same index"
### Versions

Kibi: 4.6.3

Operating System: Ubuntu 14.04 (LTS)

### Behavior

We're trying to configure a relation between two types. It's working well when these types are indexed in two distinct indices but not anymore when they're indexed in the same index.

I noticed something weird in the advanced settings, an inversion seems to occur. This is our relation:
<img width="1159" alt="screen shot

[2017-01-03 12:30] scampi commented on #66
This feels like a bug, the order should not matter. I'll have a look. Did you start from a plain kibi, or did you upgrade from an existing installation ? Or anything else special ?

Normally yes

[2017-01-03 13:26] olidem57 commented on #66
It's a fresh install without any upgrades, I don't think there's anything special

[2017-01-03 22:18] toddgardner opened #67 "Missing Kibi versions on dockerhub for supported version"
### Versions

Kibi: 4.5.4

Operating System: Docker

### Behavior

I was looking to try the standalone docker 4.5.4 image, but it looks like the only images available are snapshots of 4.6.2-SNAPSHOT and 4.6.3-SNAPSHOT:

https://hub.docker.com/r/sirensolutions/kibi-community-standalone/tags/

[2017-01-03 23:51] fabiocorneti commented on #67
Hello Todd,
we are fixing the standalone images for the releases, they should be available again in a couple days.

[2017-01-05 12:53] olidem57 commented on #66
Here's something that might help you.

I created a new relations, between two distinct indices, from "ct_tada_family_situation" to "ct_tada_full_text" (the last one is the primary index, don't know if that's relevant or not) :
<img width="1168" alt="screen shot 2017-01-05 at 13 38 54" src="https://cloud.githubusercontent.com/assets/5486003/21680855/92bde0c6-d34c-11e6-96cd-eda459a27372.png">

I the

[2017-01-11 14:52] scampi commented on #66
I think I got the bug but I would need some more information from you to confirm it is what you see.
Can you share the associated saved searches to the dashboards `Test Relation_fs` and `Test Relation_person` ?

[2017-01-23 06:44] ma-jahn opened #68 "ES 5.X Support"
Hi,

i am currently using Kibi 4.6.3 along with ES 2.4.4 and it's working just fine.
But since ES 5.X is available i'm wondering if there are any plans on releasing a Kibi 5.X version?

Thank you!

[2017-01-23 08:34] bertol83 commented on #68
Kibi 5 will come soon. A first beta should be available in a couple of weeks.

[2017-01-23 10:52] ma-jahn commented on #68
Thank you very much for the quick response!
In this case i'll start a new project using kibi 4.6.3 and try to migrate as soon as the first stable release hits daylight ;)

[2017-01-31 00:19] fabiocorneti commented on #67
Hi Todd,
the images are available again; they have been updated to support a few configuration options as environment variables, see https://hub.docker.com/r/sirensolutions/kibi-community-standalone/ .

[2017-02-01 12:26] tirumalavasu opened #69 "How can i use solr instead of elasticsearch?"
### Versions

Kibi: 4.6.3

Operating System:
Ubuntu 16.04

### Behavior

#### Expected:
Solr instead of elasticsearch

How can i use apache solr instead of elasticsearch?

[2017-02-01 12:48] jccq commented on #69
It's not off our radar.  If this request solves an important business need
pls contact us at info@siren.solutions

On 1 Feb 2017 2:26 pm, "Vasudev Sykam" <notifications@github.com> wrote:

[2017-02-02 05:31] tirumalavasu commented on #69
Thanks for the reply. @jccq

[2017-02-02 09:17] #69 closed, assigned to nobody

[2017-02-07 12:08] #67 closed, assigned to nobody

[2017-02-07 12:09] szydan commented on #35
Fixed in 4.6.3-1

[2017-02-07 12:09] #35 closed, assigned to nobody

[2017-02-07 18:56] aboutte opened #70 "TypeError: Cannot read property 'byName' of undefined"
### Versions

Kibi: 4.4.2-1 (build 11484)
ES: 2.3.3
Operating System: Amazon Linux AMI 2016.09

### Behavior

I am intermittently experiencing the same issue as outline in this other [issue](https://github.com/sirensolutions/kibi/issues/47).

As suggested by @scampi  in [issue 47](https://github.com/sirensolutions/kibi/issues/47) I have checked my index patterns to make sure the fields key is popu

[2017-02-15 23:08] swackhamer commented on #68
Any updates on Kibi 5?  Will this siren-join PR be merged with Kibi 5 coming soon?

https://github.com/sirensolutions/siren-join/pull/120

[2017-02-15 23:25] jccq commented on #68
Hi Siren Join 5 is a completely rewritten platform, not just a port. The
rewriting was needed as we evolve Siren toward a universal big data
virtualization platform inside/leveraging ES.

For this that pull request while appreciated cannot be a top priority as we
need to roll out ours (currently feature complete for its first release,
just being poilished).

Kibi 5 is being delayed by the fact tha

[2017-02-16 20:48] jdeplato commented on #68
Comment for tracking, we are holding off Kibi implementation until ES 5.x support.
Thanks for the efforts!

[2017-02-17 07:24] jccq commented on #68
Comment noted! thanks for your patience.

*Giovanni Tummarello*   Siren Solutions - CEO
M +353 87 1272938 |
giovanni@siren.solutions | http://siren.solutions/
Unit 13 GTC, Mervue Park, Galway, Ireland
<http://www.twitter.com/jccq?utm_source=WiseStamp&utm_medium=email&utm_term=&utm_content=&utm_campaign=signature>
<http://youtube.com/c/SirenSolutionsChannel?utm_source=WiseStamp&utm_medium=email&utm

[2017-02-23 12:55] scampi commented on #70
@aboutte can you try with the latest release to check if this still happens ?
Maybe try to `refresh` the index patterns (on the settings/indices tab). If that does not change anything, try to re-create those index patterns.

[2017-02-23 12:56] scampi commented on #65
@hwkongsgaard can you see if that still happens with the new release ? thanks

[2017-02-23 17:40] szydan commented on #61
@atifelkhachine Thank you for the feedback.

[2017-02-23 17:40] #61 closed, assigned to nobody

[2017-02-25 18:35] wirecutter313 commented on #68
I would love to see this work with ES 5. Anything we can do to help?

[2017-02-26 07:40] jccq commented on #68
Hi, thanks for proposing,
 works are in progress, with our core demo running, we need to polish rough
edges and we'll release a beta.

[image: Inline image 1]

*Giovanni Tummarello*   Siren Solutions - CEO
M +353 87 1272938 |
giovanni@siren.solutions | http://siren.solutions/
Unit 13 GTC, Mervue Park, Galway, Ireland
<http://www.twitter.com/jccq?utm_source=WiseStamp&utm_medium=email&utm_term=&utm_

[2017-02-27 14:28] olidem57 commented on #66
Hi,

I'm sorry I totally forgot to answer your last request.

I can't reproduce the bug anymore so I don't know if giving you my saved searches would still be of any help :/ Did you manage to correct it ?

[2017-02-27 14:34] scampi commented on #66
@olidem57 we have something under the radar, but that only happens (from some initial testing) if you are filtering on `_type` in the saved searches associated to the dashboards you are joining.

[2017-03-02 15:50] aboutte commented on #70
Hi @scampi.  I was able to figure out my issue.  I made the mistake of only checking the index pattern for each index using this command:

[code]

For each index my automation creates several different index patterns:

[code]

I was not checking the index pattern for `cis-*`.  I am now using this command to list all index patterns:

[code]

With the results of that command I can now check to make

[2017-03-02 15:50] #70 closed, assigned to nobody

[2017-03-02 15:53] scampi commented on #70
@aboutte thanks for the explanation!

[2017-03-02 15:57] aboutte commented on #70
For reference during my testing I had tried the latest version of kibi and ran into the same issue.

[2017-03-08 13:05] brtptrs opened #71 "HTML code for embedding a dashboard includes all dashboards"
### Versions

Kibi: 4.6.3-2

Operating System: Ubuntu 16:04

### Behavior
"Embed this dashboard"

#### Expected:
One of many dashboards is included in the html code generated by kibi

#### Actual:
Data from more than one dashboards are included in the html code. At the moment we can't identify a pattern to identify which dashboards are included.

### Steps to reproduce the problem
Create more than

[2017-03-22 02:25] georgeplaton7 opened #73 "Bug : Cannot open any tab 4.6.4"
### Versions

Kibi: 4.6.4 Community
Kibana: 4.6.1

Operating System: Linux x64

### Behavior

I can see all the Logstash, MetricBeat indexes and data on Kibana. We are using XPack to secure our cluster + Kibana.
Kibi can fetch the name of the visualizations, but he cannot pull any data from ElasticSearch/Kibana.
On the console I keep getting
[code]

#### Expected:

Too see some nice graphs, so I'm

[2017-03-22 10:55] scampi commented on #71
Can you try with 4.6.4 ? Tested just now and this works. Maybe can you share the URL you copied/pasted ?

[2017-03-22 10:56] scampi commented on #65
Please reopen the issue if it still happens.

[2017-03-22 10:56] #65 closed, assigned to nobody

[2017-03-22 10:56] scampi commented on #65
in the latest release (4.6.4) thanks

[2017-03-22 11:00] scampi commented on #60
should be fine since 4.5.4, though configuration validation is not there yet. Please reopen if you have an issue with the latest release that is 4.6.4

[2017-03-22 11:00] #60 closed, assigned to nobody

[2017-03-22 11:01] scampi commented on #57
issue upstream https://github.com/elastic/kibana/issues/6786

[2017-03-22 11:01] #57 closed, assigned to nobody

[2017-03-22 11:02] scampi commented on #55
fixed since 4.5.4

[2017-03-22 11:02] #55 closed, assigned to nobody

[2017-03-22 11:03] #52 closed, assigned to nobody

[2017-03-22 16:24] fabiocorneti commented on #73
Hello,
a few questions:

- Have you installed the Kibana shield plugin in Kibi or Kibi is running without additional plugins?
- Do you see any red error in the UI or just a blank page?
- Can you take a screenshot of Dashboard page and the Settings -> Index patterns page?

It would also be helpful to see if there are network requests with a status different than 200 in the network inspector, e.g. :

[2017-03-23 14:04] sacx commented on #68
Do you have any release date of the beta?

[2017-03-26 20:39] jccq commented on #68
Please sign up to the announcement mailing list, last week we have release
4.6.4 now we're focused on 5.2. first beta should be out in a 2-3 week.

thanks

*Giovanni Tummarello*   Siren Solutions - CEO
M +353 87 1272938 |
giovanni@siren.solutions | http://siren.solutions/
Unit 13 GTC, Mervue Park, Galway, Ireland
<http://www.twitter.com/jccq?utm_source=WiseStamp&utm_medium=email&utm_term=&utm_cont

[2017-03-27 02:25] benpolzin commented on #68
Hi Gio,

Are you able to commit to a specific date? It seems 2-3 weeks has been the timeline since January.

- 9/1 - [Q4 2016](https://groups.google.com/a/siren.solutions/d/msg/kibi-users/rz6LUklJRR8/dAKKmWEzDgAJ)
- 12/5 - [beta in January](https://groups.google.com/a/siren.solutions/d/msg/kibi-users/rz6LUklJRR8/UEPKCxqRDAAJ)
- 1/15 - [next few weeks](https://groups.google.com/a/siren.solutions/d/

[2017-03-27 05:47] jccq commented on #68
Hi Ben

hard to argue with that, please bear with us as we grow
Reason for the delayed have been us prioritizing the needs of production
Kibi EE customers and Jumpstart Support customers (see our release
announcement today, or anyway download kibi 4.6.4 with major features like
"dashboard object level access control" ) , and these customers are not in
a hurry for  5.x yet.  the good thing is all t

[2017-04-25 11:27] gsmetal opened #74 "Relational column based on indexes relations"
Hello! Is there any way to add column to visualization table which will represent field from another index? I only found relation column based on external queries.

I have 2 indexes with projects and time-based events with project-uuid field. I configured relation between indexes and want to show project name in Events visualization table without need of indexing it into events index.

[2017-04-25 15:57] jccq commented on #74
Hi there. There are multiple solutions to this we're pondering.

Could you please rate how important this is for your use case:

* just show
* sort on that field
* export the CSV with that too
* clicking on the value and going to a connected dashboard with a filter on that.

sure they're all nice to have :) but  we're pondering if to roll out a solution that would address some of this (frontend so

[2017-04-25 16:54] gsmetal commented on #74
Thanks for quick response!

First of all it's show. And maybe export to CSV. Because I didn't find tools that can combine related data from different indexes and show it together.

Other two cases can be workarounded somehow so they are less important I think.

[2017-04-25 22:11] jccq commented on #74
Ok noted, its a highly sought after things we'll roll out in some future version

[2017-04-26 08:48] scampi commented on #68
kibi 5.2.2 beta has been released https://github.com/sirensolutions/kibi/releases/tag/tag-5.2.2-beta-1

[2017-04-26 08:48] #68 closed, assigned to nobody

[2017-04-26 08:49] scampi commented on #66
we added a message advising users to use aliases in such a case.

[2017-04-26 08:49] #66 closed, assigned to nobody

[2017-05-01 00:47] jdeplato opened #75 "Kibi 5.2.2 Install Error"
**Kibi version**: 5.2.2

**Elasticsearch version**: 5.2.0

**Server OS version**: Ubuntu 16.04.2 LTS

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, from source, etc.)**: git clone, npm install

**Description of the problem including expected versus actual behavior**:

3322 verbose stack Error: java@0.7.2 install: `node-gyp rebuild`
3322 verbose stack

[2017-05-03 08:47] lsavio commented on #75
Dear @jdeplato,
we are trying to reproduce your issue, we will update you as soon as possibile.

Best reguards,
Luigi

[2017-05-03 11:57] jdeplato commented on #75
Thanks Luigi!

It may be me - I don't know. It would not install on one of our Ubuntu web servers, so I spun up a clean Ubuntu server, ran into dependency hell, and after I was able to install everything ran into this error.

[2017-05-03 14:38] Bonizzi commented on #75
Dear @jdeplato do you have npm updated?

Best regards,
Michela

[2017-05-04 05:29] ogubchenko commented on #75
Can you try:
[code]
and after that re-install

[2017-05-04 21:40] benpolzin opened #76 "Plugin installation fails on Kibi 5.2.2-beta1"
**Kibi version**: 5.2.2-beta1

**Elasticsearch version**: 5.2.2

**Server OS version**: Ubuntu 16.04

**Original install method (e.g. download page, from source, etc.)**: Download & extract standalone zip

**Description of the problem including expected versus actual behavior**:
Attempted to use `./bin/kibana-plugin install` to add plugins, but it fails for multiple plugins with an "optimizations

[2017-05-05 00:29] aslng opened #77 "Click handler - support to pass search criteria when redirected to dashboard"
**Kibi version**: 4.6.4

**Elasticsearch version**: 2.4.4

**Server OS version**: ubuntu 14.04

**Browser version**: Chrome 58.0.3029.81

**Browser OS version**: MACOS 10.12.4

**Original install method (e.g. download page, from source, etc.)**: download page

**Description of the problem including expected versus actual behavior**: This is a feature request to allow a search criteria (e.g. pid:12

[2017-05-05 05:59] jccq commented on #77
this is important indeed, we're working on the design to cover several use cases also outside the click on the table

[2017-05-18 00:31] HandsomeWins opened #78 "Kibi 5.2.2 FATAL TypeError: Cannot read property 'push' of undefined"
**Kibi version**: kibi-community-standalone-5.2.2-beta-1-linux-x64

**Elasticsearch version**: 5.4

**Server OS version**: SLES11 Linux

**Browser version**: Chrome

**Browser OS version**: 58.0.3029.110

**Original install method (e.g. download page, from source, etc.)**: Download from web, extract on the system as the user who will be executing binaries

**Description of the problem including ex

[2017-05-18 08:44] scampi commented on #78
you have to use ES 5.2.2, can you try again and say how this goes ?

[2017-05-20 13:10] jdeplato commented on #75
Hey all.

I did the following:
Rebuilt Ubuntu
apt install build essential
apt install java (open jdk8)

Downloaded Kibi

Got a JAVA_HOME error

set JAVA_HOME in /etc/environment

Started Kibi

All good!!

So there must have been some dependency issue on the other host I was using.

Thanks for the help.

Best,

Joe

[2017-05-20 14:26] lsavio commented on #75
ok, good. If you have any other issues, feel free to ask for help.
thanks
Luigi

[2017-05-26 23:49] sidharthchugh opened #79 "Support for array of objects"
I am unable to make query or visualize array of objects. Is there any workarounds?

[2017-05-29 14:59] scampi commented on #79
Do you have an example of the document you want to search for ? What visualization did you want to use on it ?
The only shortcoming wrt array of objects is when displayed in the table visualization.

[2017-05-29 20:17] sidharthchugh commented on #79
@scampi

How can I make a search for this array of objects? As it appears nested objects are not supported in visualization and neither i can make search for this

![13dc0532-4271-11e7-8d3c-5832191722a4](https://cloud.githubusercontent.com/assets/1497853/26554448/6961f75c-4490-11e7-915c-d22557c5a930.png)

[2017-06-06 15:58] mickaelleclercq opened #80 "Save button in management is disabled"
**Kibi version**: 5.2.2-beta-1

**Elasticsearch version**: 5.4.0

**Server OS version**: CentOS Linux 7

**Browser version**: Chromium 58.0.3029.110

**Browser OS version**: Ubuntu 16.04 (64-bit)

**Original install method (e.g. download page, from source, etc.)**: download page

**Description of the problem including expected versus actual behavior**:
In Management, the Save button (upper right o

[2017-06-08 09:47] scampi commented on #80
Thanks for the feedback. The latest kibi on master has the fix, the next beta release will have it.

[2017-06-08 09:47] #80 closed, assigned to nobody

[2017-06-08 09:47] scampi commented on #80
this is the commit: https://github.com/sirensolutions/kibi/commit/1b67c6e02c4a80333db902d021686c377a39e2ad

[2017-06-16 15:46] scampi opened #81 "no notification displayed when vanguard is needed but missing"

[2017-06-16 16:39] scampi commented on #79
With a document like the one below (created with `npm run makelogs`), it is possible to create a `data table` visualization on the nested field `relatedContent.og:site_name.keyword` (the `keyword` part shows it's a multifield).

What did you try to do with the nested object, and with which visualization ?

With regards to the search, I was able to make a text search on the nested field, e.g., `rel

[2017-06-19 04:13] patil-akshay opened #82 "How to represent JSON Data in Tabular Format in kibi?"
I have configured a REST external data source which returns JSON data I want to show that JSON data in tabular format.
Thanks in advance.

[2017-06-19 08:54] scampi commented on #82
You can use the `jade` template. There is an example of such a template called `kibi-table-jade` from which you can inspire from. That template expects a specific json schema so you'd have to modify to fit yours.

[2017-06-19 08:54] #82 closed, assigned to nobody

[2017-06-20 10:43] #81 closed, assigned to nobody

[2017-06-21 05:54] Shreyanshupare commented on #56
Hi,
When i changes  "load_jdbc: true"   when i run the kibi it is showing Error:-
   kibi_core] Error: The specified module could not be found.

and in dashboard:-
kibi_core	1.0.0	 Query engine initialization failed

How to solve this error can you please suggest me .
I am using elasticsearch-2.4.1 and kibi-community-demo-full-4.6.4-2-windows64.

[2017-06-21 11:58] shachar-ash opened #83 "Kibi 5.2.2 Installation Error"
**Kibi version**: 5.2.2-beta-1

**Elasticsearch version**:5.3.2

**Server OS version**:Centos 7.3

**Original install method (e.g. download page, from source, etc.)**: Download the zip and install it with "kibana-plugin install"

**Description of the problem including expected versus actual behavior**: running the "kibana-plugin install" command fails with the following error:

Error: Cannot find

[2017-07-04 07:32] patil-akshay opened #84 "Plugin installation in kibi 4.6.4"
How to install kibana-slider-plugin in kibi 4.6.4

[2017-07-04 10:21] scampi commented on #84
it should be the exact same way as in kibana, i.e., `./bin/kibi plugin -i ...`

[2017-07-04 10:21] #84 closed, assigned to nobody

[2017-07-24 11:56] xycloud opened #85 "TypeError: jQuery(...).qtip is not a function"
kibi master: 5.3.2
angular.js:12520 TypeError: jQuery(...).qtip is not a function
    at JoinExplanationHelper.initQtip (eval at <anonymous> (kibana.bundle.js?v=8467:1540), <anonymous>:98:25)

its ok in kibi-5.2.2 beta-1, but error in kibi master, could you give some help?

[2017-07-27 09:31] andrewgdotcom opened #86 "Symlink canonicalisation"
In bin/kibi, is there a good reason why we're rolling our own canonicalisation, and not just using `readlink -f` ?

[2017-07-27 10:44] szydan commented on #83
Hi @madridista521 we've just released 5.4.0-beta-2
https://github.com/sirensolutions/kibi/releases/tag/tag-5.4.0-beta-2

If the version is not a problem could you try one more time on this version
Mind that the command to install plugins changed to
[code]
And that you will need the corresponding version of the plugin which should be  5.4.0-1
https://github.com/sirensolutions/kibi_radar_vis/release

[2017-07-27 10:47] szydan commented on #85
Hi @xycloud  we've just released 5.4.0-beta-2
https://github.com/sirensolutions/kibi/releases/tag/tag-5.4.0-beta-2
Master branch was also synced

If the version is not a problem could you try one more time on this version
We had similar issues before and usually, it is related to 2 version of jQuery being bundled by webpack.
Once you try on 5.4.0-beta-2 let us know, if the problem is still there w

[2017-07-27 10:50] szydan commented on #86
Hi @andrewgdotcom we inherited this file from Kibana, maybe it would be better to ask at
https://github.com/elastic/kibana as there might be a good reason of which we might not be fully aware

[2017-07-27 10:50] #86 closed, assigned to nobody

[2017-07-27 10:52] szydan commented on #78
Hi @HandsomeWins we've just released 5.4.0-beta-2
https://github.com/sirensolutions/kibi/releases/tag/tag-5.4.0-beta-2

Now you should be able to try to run it with Elasticsearch 5.4.x

[2017-07-27 10:52] #78 closed, assigned to nobody

[2017-07-27 10:54] szydan commented on #76
Hi @benpolzin we've just released 5.4.0-beta-2
https://github.com/sirensolutions/kibi/releases/tag/tag-5.4.0-beta-2

If the version is not a problem could you try one more time on this version
Please reopen if the problem is still there

[2017-07-27 10:54] #76 closed, assigned to nobody

[2017-07-27 10:55] #75 closed, assigned to nobody

[2017-07-27 10:58] szydan commented on #73
Hi @qgicup we've just released 4.6.4-4
https://github.com/sirensolutions/kibi/releases/tag/tag-4.6.4-4
Which you might wish to try
Closing this issue as there was no feedback for more than 3 months
Feel free to reopen

[2017-07-27 10:58] #73 closed, assigned to nobody

[2017-07-27 11:03] szydan commented on #71
Closing due to lack of feedback

[2017-07-27 11:03] #71 closed, assigned to nobody

[2017-07-27 11:07] szydan commented on #79
Hi @sidharthchugh I'm closing this issue due to lack of feedback
Feel free to reopen if needed

[2017-07-27 11:07] #79 closed, assigned to nobody

[2017-07-27 16:48] xycloud commented on #85
still got this erorr. any possible reason about this?

[2017-07-27 17:04] szydan commented on #85
Could you describe how to reproduce this error, please?
Also, are you running Kibi from 5.4.0-beta-2 or master?

[2017-07-27 17:14] xycloud commented on #85
as we know, the relation filter should have a different tooltip if everything is ok. but 5.4.0 doesn't, we can see the error message in browser console

[2017-07-27 17:23] szydan commented on #85
@xycloud I've just tried on my installation and I can not see it
Could tell me which browser you are using and which OS.
Also, could you confirm that you get an error by simply hovering over the filter as I'm doing?
![out](https://user-images.githubusercontent.com/900118/28683484-a9574fce-72f8-11e7-9a0e-04848009555b.gif)

[2017-08-02 20:23] DanielLuu opened #87 "Cross Cluster Search and 5.5"
I understand 5.4 was just released but has anyone tried getting cross cluster search to work with Kibi?

[2017-08-03 11:25] jccq commented on #87
Hi Daniel it will be possible at some point if both clusters have the new Vanguard plugin installed.
for clarity this is not prioritized up in the queue. If you'd like to discuss commercially to see that done earlier please reach out to info@siren.solutions

[2017-08-08 19:54] HandsomeWins opened #88 "Visualization Editor: Request to Elasticsearch failed: "[Not Found] [type_missing_exception] type[[visualization]] missing"
**Kibi version**: 5.4.0-beta-2

**Elasticsearch version**: v5.5.0

**Browser version**: Latest Chrome, Latest Firefox, both have same issue

**Original install method (e.g. download page, from source, etc.)**: Download Linux x64 version from the web download page, extract and modify Elasticsearch cluster settings the configuration YML file.

**Description of the problem including expected versus a

[2017-08-08 22:49] jccq commented on #88
5.5 will be coming after 5.4.3 (which is not far at all), fastest thing is to use 5.4 at the moment.

[2017-08-26 05:19] hello4usharath opened #89 "Kibi version"
Hi ,

We are using elasticsearch 5.5.1. what is kibi version and will support elastic 5.5.1.

Thanks
Sharath

[2017-09-15 07:51] #85 closed, assigned to nobody

[2017-09-15 09:42] xycloud opened #90 "kibi_multi_chart_vis"
will kibi_multi_chart_vis be open sourced ?

[2017-09-15 09:50] jccq commented on #90
Not in the plans now but it is available in kibi also in the free licence
one

On 15 Sep 2017 10:42, "sharkshark" <notifications@github.com> wrote:

[2017-09-18 01:32] xycloud commented on #90
where can I get the free licence for using kibi_multi_chart_vis

[2017-09-18 05:22] jccq commented on #90
the kibi multi chart is part of the siren platform distribution for which
there exists a free licence. http://support.siren.solutions
 Multichart doesnt work on Kibana

On Mon, Sep 18, 2017 at 2:32 AM, sharkshark <notifications@github.com>
wrote:

[2017-09-21 19:26] ebdavison commented on #89
Bump. When will 5.5.1 be supported?

[2017-09-21 19:31] ebdavison opened #91 "Unable to create index"
**Kibi version**: 5.4.3 (downloaded master branch from git)

**Elasticsearch version**: 5.5.1

**Server OS version**: centos 7

**Browser version**: firefox 55

**Browser OS version**: windows

**Original install method (e.g. download page, from source, etc.)**: from github

**Description of the problem including expected versus actual behavior**:
need to create default index and receiving error w

[2017-09-21 21:37] szydan commented on #89
According to compatibility table here
https://support.siren.solutions/support/solutions/articles/17000058666-platform-5-4-3-1

Kibi 5.4.3-1 supports Elasticsearch versions 5.4.1, 5.4.3 and 5.5.2
It was not yet fully tested with 5.5.1 but it should work fine.
Please give it a try

[2017-09-21 21:48] szydan commented on #91
Hi @ebdavison
Thanks for the report

This was already fixed in branch-5.4.3
https://github.com/sirensolutions/kibi/tree/branch-5.4.3
in this commit
https://github.com/sirensolutions/kibi/commit/aa30ff0647101610d62ea0c1a3a54da29506f948

Please try to run Kibi from this branch
The fix will be included into 5.4.3-2 release which should be out in a week

[2017-09-21 21:51] szydan commented on #83
Closing, feel free to reopen if the issue is still there in Kibi > 5.4.0-beta-2

[2017-09-21 21:51] #83 closed, assigned to nobody

[2017-09-21 21:54] szydan commented on #88
Duplicate of https://github.com/sirensolutions/kibi/issues/91
@HandsomeWins it will be fully addressed in 5.4.3-2
You can build it today following the instruction in https://github.com/sirensolutions/kibi/issues/91

[2017-09-21 21:54] #88 closed, assigned to nobody

[2017-09-21 21:56] szydan commented on #89
There is an issue in 5.4.3-1 about creating mappings when using Elasticsearch 5.5.x
The workaround described here
https://github.com/sirensolutions/kibi/issues/91
It will be fully addressed in 5.4.3-2 release

[2017-09-21 21:56] #89 closed, assigned to nobody

[2017-09-21 21:56] #90 closed, assigned to nobody

[2017-09-22 21:31] ebdavison commented on #91
Thank you; that does work if I use branch-5.4.3.

[2017-09-22 21:31] #91 closed, assigned to nobody

[2017-09-26 06:34] xycloud opened #92 "please add page for relations"
when we have so many relations, little ugly, could we make a pagination for realtions

[2017-09-26 06:59] jccq commented on #92
We have a major release of Siren scheduled december featuring a completely
new relation editor catering much larger and advanced schemas.

thanks for your patience.

On Tue, Sep 26, 2017 at 7:34 AM, sharkshark <notifications@github.com>
wrote:

[2017-09-27 21:57] HandsomeWins opened #93 "Discover: [security_exception] action [indices:siren/mplan] is unauthorized for user [elastic]"
**Kibi version**: 5.4.3-1

**Elasticsearch version**: 5.5.2

**Server OS version**: SLES11 SP4 x64

**Browser version**: Chrome Version 61.0.3163.100 (Official Build) (64-bit)

**Browser OS version**: Chrome

**Original install method (e.g. download page, from source, etc.)**: Siren support section download page.

**Description of the problem including expected versus actual behavior**: Trying to

[2017-09-28 09:56] bertol83 commented on #93
A full compatibility with xpack will be available with the next siren platform release (available next week). At the moment we assure our stack is compatible and working with searchguard for access control, and alerting an monitoring are provided by our component sentinl (monitoring, access control, alerting, graph browser should replace xpack)

[2017-10-09 22:20] HandsomeWins commented on #93
Waiting patiently for 5.4.3-2! :)

[2017-10-13 00:37] HandsomeWins commented on #93
Hello, I see a bump to version 5.5.2 SNAPSHOT on the Kibi Github page, can you please point me in the direction of how to utilize this new version? Thanks!

[2017-10-13 04:10] bertol83 commented on #93
If you want 5.4.3-2 is available on support.siren.io

[2017-10-13 08:24] szydan commented on #93
Hi @HandsomeWins
Yes master was synced yesterday and is currently at 5.5.2 however it is not ready yet for the official release
You can build yourself a 5.5.2-SNAPSHOT version from sources but it might still be unstable
Note that the latest official release 5.4.3-2
https://support.siren.solutions/support/solutions/articles/17000061291-platform-5-4-3-2
will work fine with elastic 5.4.3, 5.5.2 and 5

[2017-10-26 13:24] AliAqdasShah opened #94 "MODULE_NOT_FOUND exception while starting kibi.bat"
**master(5.5.2)**:

**5.5.2**:

**Windows7 x64**:

**Clone from git. run "npm install" in kibi directory then run kibi/bin/kibi.bat**:

**Kibi should run but i'm getting following error
*FATAL { Error: Cannot find module 'C:\ELK-repo\kibi\node_modules\sqlite3\lib\bin
ding\node-v48-win32-x64\node_sqlite3.node'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (

[2017-11-06 03:40] xycloud opened #95 "4 verbose stack Error: missing script: uiFramework:build"
version: kibi: 5.4.0-beta-2
command: npm run uiFramework:build
error: npm ERR! missing script: uiFramework:build

[2017-11-06 12:13] szydan commented on #95
Hi @xycloud
Could you try if this happens also on master, please
Note that we released 5.4.3-3
Which can be downloaded from our portal at
https://support.siren.io/support/solutions/articles/17000062219-platform-5-4-3-3

[2017-11-07 05:21] xycloud commented on #95
still ```missing script: uiFramework:build``` in 5.4.3-3, but master is ok

[2017-11-07 10:02] szydan commented on #95
@xycloud you have to register to view the URL (it is completely free to register and then you can download and 2 kinds of free licenses.
unlimited version for 30 days, or
limited version for 1 user 1 node)
Here a link to get the license once you register
https://support.siren.io/support/solutions/articles/17000057493-get-your-license

[2017-11-07 12:08] xycloud commented on #95
hi szydan:

i download the 5.4.3-3, but still missing script: uiFramework:build in 5.4.3-3.
however kibi master is ok

[2017-11-07 13:30] szydan commented on #95
@xycloud Big Thanks for trying all these versions
Do you need the script in 5.4.3 or you are fine using master
Just to let you know current master is based on Kibana 5.5.2 but will soon be moved to Kibana 5.6.3

[2017-11-08 00:50] xycloud commented on #95
hi szydan:

i still need the 5.4.3, would you please add this script to 5.4.3?

thanks very much!!

[2017-11-09 02:20] xycloud commented on #95
so strange

[2017-11-09 03:21] #95 closed, assigned to nobody

[2017-11-13 08:30] xycloud opened #96 "how can we make discover page pageable"
discover page use docTable directive, kibi modify the source code to make it pageable。seems this config is not enabled in discover page, how can we make it?

[2017-11-13 19:38] HandsomeWins commented on #93
Issue went away with the newer versions of Siren as promised. Thanks!

[2017-11-13 19:38] #93 closed, assigned to nobody

[2017-11-13 19:43] HandsomeWins opened #97 "5.6.4 support, to accomodate Elasticsearch "StackOverflowError after a Fatal Error on Network Layer" bug"
**Kibi version**: 5.6.3

**Elasticsearch version**: 5.6.4

**Describe the feature**:

Hello,

Please support Elasticsearch release 5.6.4. 5.6.3 suffers from a bug that causes Elasticsearch nodes to crash due to "StackOverflowError after a Fatal Error on Network Layer" when certain kinds of (or too many?) search requests hit cluster nodes. This affected me in particular just due to 5 machine learni

[2017-11-13 21:04] szydan commented on #97
Hi @HandsomeWins we are currently working to sync to 5.6.4
Once we will release Vanguard 5.6.4 the Kibi master will be synced too
Stay tuned

[2017-11-13 22:48] jccq commented on #97
Was wondering how many nodes do you have ? Is it X pack learning or
something else?

On 13 Nov 2017 19:43, "Peter Wins" <notifications@github.com> wrote:

*Kibi version*: 5.6.3

*Elasticsearch version*: 5.6.4

*Describe the feature*:

Hello,

Please support Elasticsearch release 5.6.4. 5.6.3 suffers from a bug that
causes Elasticsearch nodes to crash due to "StackOverflowError after a
Fatal Error

[2017-11-14 01:17] HandsomeWins commented on #97
Thanks! Looking forward to the 5.6.4 release. ~50 physical nodes in a cluster.

[2017-11-14 12:37] szydan commented on #97
Hi @HandsomeWins
We've just released Vanguard 5.6.4 which is compatible with Kibi 5.4.3-3
Please try it

[2017-11-29 11:48] szydan commented on #97
@HandsomeWins also Kibi master is now synced to 5.6.4
However, it will take some more time until it will become stable
Closing this issue, feel free to reopen if needed

[2017-11-29 11:48] #97 closed, assigned to nobody

[2017-11-29 11:52] szydan commented on #94
Master was moved to 5.6.4
@AliAqdasShah will you be able to try it again?

[2017-12-12 12:07] ivgenys opened #98 "elasticsearch 6 support"
When can we expect elasticsearch 6 support for kibi?

[2017-12-12 19:35] jccq commented on #98
Hi the next releases (siren 10) focuses on cluster scalable joins when ES
is in use but also JDBC direct connectivity (!). This is Feb.

Es 6.x comes after that so likely from April on

Best

Elasticsearch 6 will come later to that so sometimes past

We will then look into supporting

On 12 Dec 2017 07:07, "ivgenys" <notifications@github.com> wrote:

[2018-01-09 03:18] xycloud commented on #96
any progress?

[2018-01-09 06:30] jccq commented on #96
watch for Siren 10 beta @colmose pls add this one if its not already.

[2018-01-17 06:56] xycloud commented on #96
awesome, would you mind to tell when new kibi version will be released

[2018-01-18 02:28] #96 closed, assigned to nobody

[2018-01-18 13:59] mjp0 opened #99 "Docker using different auth credentials"
I'm trying to get Kibi 5.4.3-2 Docker (sirensolutions/siren-platform) working but none of the credentials (kibiadmin etc) in the documentation works. I also tried siren-platform-demo-data and it seems to suffer from the same problem.

Please update the docs.

[2018-01-18 14:37] szydan commented on #99
Hi @0fork I've tried with
docker run -d -p 5606:5606 -p 9220:9220 sirensolutions/siren-platform:latest
It seems to be working for me
One possibility is that the elasticsearch "inside" your docker might be unable to start and it keeps restarting
You can check  this by doing
[code]
If you see that elasticsearch keeps restarting
you might need to set the **vm.max_map_count** value on the host machine

[2018-01-19 08:28] mjp0 commented on #99
@szydan That was it! Thank you!

When somebody from the dev team has "few mins" to spare, it might be helpful to add some sort of error message to the login screen if elastic is down. I'm running Ubuntu 16.04 and it didn't even have that vm.max_map_count setting for some reason so I'm guessing that plenty others have and will run into this issue with elastic as well unfortunately.

[2018-01-19 08:28] #99 closed, assigned to szydan

[2018-01-19 09:36] szydan commented on #99
@0fork Thanks for reporting this
Good to hear it solved the issue for you
I've opened an internal issue about it, we will improve it for the next release

[2018-01-26 18:08] chlarsen opened #100 "FLOSS, Kibi ahd Current Licensing"
Greetings from Malawi,
This is Kibi-specific and does not fit into the Elastic discussion forum.
Could you kindly confirm that Kibi is, except for development snapshots, not free/libre open-source software any more (FLOSS)?
I require Elastic with Kibana or Kibi for a production environment in least developed countries and have to absolutely clear about the long-term security in terms of FLOSS and

[2018-01-26 18:58] jccq commented on #100
Hi Chris

The code you see is licenced Apache but it's just (part ) of the frontend .
We do this so that if kibana wants to take part of the code and improve the
base project they're free to do so. (And also for those writing
integrations and extensions )

The full siren platform (formerly kibi) requires also the backend (the
elasticsearch plugin and others ) which are now commercially licenced
th

[2018-01-26 19:13] chlarsen commented on #100
Thank you, Giovanni, for this clarification.
When you said that the backend (Elasticsearch plugin and others) are now commercially liucensed, I assume you mean the interface between the frontend and Elasticsearch, not Elasticsearch itself? I understand that Elasticsearch is FLOSS, correct?
Thank you and have a great weekend,
Chris

On Friday, January 26, 2018 20:58 CAT, Giovanni Tummarello <notifi

[2018-01-26 20:17] jccq commented on #100
Yes .. Siren requires the Federate plugin for elasticsearch (formerly
"vanguard" plugin ) to operate which is under a commercial model
Best!

On 26 Jan 2018 14:13, "Christoph H. Larsen" <notifications@github.com>
wrote:

Thank you, Giovanni, for this clarification.
When you said that the backend (Elasticsearch plugin and others) are now
commercially liucensed, I assume you mean the interface betwe

[2018-01-26 20:27] chlarsen commented on #100
Thank you, Giovanni, that makes it very clear. Have a good weekend!
Chris

On Friday, January 26, 2018 22:17 CAT, Giovanni Tummarello <notifications@github.com> wrote:
 Yes .. Siren requires the Federate plugin for elasticsearch (formerly
"vanguard" plugin ) to operate which is under a commercial model
Best!

On 26 Jan 2018 14:13, "Christoph H. Larsen" <notifications@github.com>
wrote:

Thank you,

[2018-04-24 22:34] #100 closed, assigned to nobody

[2018-04-24 22:34] jccq commented on #98
Elasticsearch 6.x support is schedule in the next version 10.1, ETA sometime June.

[2018-04-24 22:34] #98 closed, assigned to nobody

[2018-09-03 07:26] groverjatin17 commented on #98
Hi, Does Siren Platform work for Elasticsearch 6.x.
[Here](https://support.siren.io/support/solutions/articles/17000075025-platform-10-0-2) they have mentioned that latest version Siren 10.2 that is released in July stretches till 5.6.10  but nowhere have they mentioned about 6.x.